<header class="snippet-header">
	<h4>
		<%= poem.icon %>
		<%= link_to poem.title, poem %>
	</h4>
	<%= poem.rated %>
</header>

<div class="snippet-body">
	<%= poem.summarized %>
	<%= poem.snippet_tags_line %>
</div>

<footer class="snippet-footer">
	<%= poem.byline %>
	<%= poem.time_started %>
</footer>
