<h4>
	<%= poem.icon %>
	<%= link_to poem.title, poem %>
	<%= subtitle poem.byline %>
</h4>

<div class="snippet-detail">
	<div class="snippet-meta">
		<%= poem.summarized %>
		<%= poem.snippet_tags_line %>
	</div>
</div>
