<h2>Court of Public Opinion</h2>
<p>Decided by <%= amt %> <%= "opinion".pluralize(amt) %></p>
<table class="aggregated-views">
	<thead>
		<tr><th>Liked</th><th>Respected</th></tr>
	</thead>
	<tr>
		<td data-label="Liked" class="rating avg level<%= avg_likes %>"><%= Judgemental.scale[avg_likes] %></td>
		<td data-label="Respected" class="rating avg level<%= avg_scale %>"><%= Judgemental.scale[avg_scale] %></td>
	</tr>
</table>
