<% views.each do |view| %>
	<tr>
		<th><%= link_to view.recip_heading, view.recip %></th>
		<td class="rating level<%= view.warmth %>"><%= Viewpoint.warmths[view.warmth + 2] %></td>
		<td class="rating level<%= view.respect %>"><%= Viewpoint.respects[view.respect + 2] %></td>
		<td><%= view.about %></td>
	</tr>
<% end %>