<% if @viewpoints.length > 0 %>
	<h2>Opinions and Prejudices</h2>
	<table class="views">
		<thead>
			<tr>
				<th>Recipient</th>
				<th>Fondness</th>
				<th>Respect</th>
				<th>Details</th>
			</tr>
		</thead>
		
		<tbody>
			<% @viewpoints.each do |view| %>
				<tr>
					<th data-label="Recipient"><%= link_to view.recip_heading, view.recip %></th>
					<%= view.fondness_data %>
					<%= view.respect_data  %>
					<%= view.details_data  %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% if @opinions.size > 0%>
		<canvas id="distribution" style="height: 300px; width: 300px;"></canvas>
	<% end %>
<% end %>

<% if @character.reputations.size > 0 %>
	<%= render partial: "subjects/characters/about/public_opinion" %>
	<canvas id="distribution2" style="height: 300px; width: 300px;"></canvas>
<% end %>
<script type="text/javascript">
	var data = <%= [@character.opinion_scatter_data[0]].to_json.to_s.html_safe %>;
	var ctx = document.getElementById("distribution").getContext("2d");
	var distribution = new Chart(ctx).Scatter(data, {
		scaleShowLabels: false,
		scaleLineWidth: 4,
		bezierCurve: true,
		showTooltips: true,
		scaleShowHorizontalLines: true,
		scaleShowLabels: true,
		scaleBeginAtZero: true,
		datasetStroke: false
	});
	var data2 = <%= [@character.opinion_scatter_data[1]].to_json.to_s.html_safe %>;
	var ctx2 = document.getElementById("distribution2").getContext("2d");
	var distribution = new Chart(ctx2).Scatter(data2, {
		scaleShowLabels: false,
		scaleLineWidth: 4,
		bezierCurve: true,
		showTooltips: true,
		scaleShowHorizontalLines: true,
		scaleShowLabels: true,
		scaleBeginAtZero: true,
		datasetStroke: false
	});
</script>

