<% @viewpoints.each do |view| %>
	<tr>
		<th data-label="Recipient"><%= link_to view.recip_heading, view.recip %></th>
		<td data-label="Fondness" class="rating level<%= view.fondness %>"><%= Judgemental.scale[view.fondness] %></td>
		<td data-label="Respect" class="rating level<%= view.respect %>"><%= Judgemental.scale[view.respect] %></td>
		<td<%= ' data-label=Details' unless view.about == ""%>><%= view.about %></td>
	</tr>
<% end %>
