<%= clean_form_for @pen, remote: true do |f| %>

	<% if @pen.errors.full_messages.length > 0 %>
		<ul>
			<% @pen.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<fieldset class="primary-fieldset">
		<%= f.fields_for :character do |b| %>
			<%= b.string_cell :name, "Name" %>
		<% end %>
	</fieldset>

	<%= f.submit_cell "Submit" %>
<% end %>
