<%= form_for @pen, remote: true do |f| %>

	<% if @pen.errors.full_messages.length > 0 %>
		<ul>
			<% @pen.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<fieldset class="primary">
		<%= f.fields_for :character do |b| %>
			<%= string_panel b, :name, "Name" %>
		<% end %>
	</fieldset>

	<%= submit_panel f, "Submit" %>
<% end %>
