<tr>
	<th id="pen-name-<%= pen_naming.id %>">
		<span><%= link_to pen_naming.name, pen_naming %></span>
		<div id="pen-name-edit-bar-for-<%= pen_naming.id %>"><%= pen_naming.edit_bar %></div>
		<div id="pen-namer-form-for-<%= pen_naming.id %>" style="display:none;"></div>
	</th>
	<td data-label="Pen Status"><%= pen_naming.status %></td>
</tr>
