<tr id="<%= pen_naming.tagid %>">
	<th>
		<span class="pen-title"><%= link_to pen_naming.name, pen_naming %></span>
		<%= pen_naming.edit_form_div %>
	</th>

	<td data-label="Manage" id="<%= pen_naming.editorid %>">
		<%= pen_naming.edit_bar %>
	</td>
	
	<td data-label="Pen Status" class="status">
		<%= pen_naming.status %>
	</td>
</tr>
