<div class="pen-names management-widget">
	<table class="editable">
		<caption><%= caption_heading %> <%= @pen_names.counter %></caption>
		<thead>
			<tr>
				<th colspan="2">Pen Name</th>
				<th>Works</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody id="pen-names-list"><%= render @pen_names %></tbody>
	</table>
	<%= @pen_names.inline_creation %>
	<%= @pen_names.link_to_creation %>
</div>
