<% provide :title, @namer.page_title %>

<header id="dash-header">
	<h1 id="pen-name-<%= @namer.id %>">
		My Dashboard
		<%= subtitler "Pen Names" %>
		<%= subtitler link_to @namer.name, @namer %>
		<%= @namer.edit_form_div %>
	</h1>
	<div id="pen-name-edit-bar-for-<%= @namer.id %>"><%= @namer.edit_bar %></div>
</header>

<article>

	<section class="page-body">
	</section>
</article>
