<% provide :title, @namer.page_title %>

<header id="dash-header">
	<h1 id="pen-name-<%= @namer.id %>">
		<%= title "My Dashboard" %>
		<%= subtitle "Pen Names" %>
		<%= subtitle link_to @namer.name, @namer %>
		<%= @namer.edit_form_div %>
	</h1>
	<div id="<%= @namer.kit_id %>"><%= @namer.edit_bar %></div>
</header>

<article>

	<section class="page-body">
	</section>
</article>
