<% provide :title, @pen.page_title %>

<%= dashboard_header(["Pen Names", @pen.name], @pen.heading_id) do %>

	<div class="metadata">
		<%= metadata("Number of Works", @pen.bylines.length) %>
	</div>

	<%= @pen.edit_form_div %>
	<%= @pen.edit_bar %>
<% end %>

<article class="dashboard-grid">
	<% if @pen.bylines.empty? %>
		<p><b>Go out and make something!</b></p>

		<div class="create-as">
			<h2>As <%= @pen.name %> create:</h2>
			<ul class="createable-list">
				<% @pen.createable_works_list.each do |createables| %>
					<li class="icon icon-<%= createables[:icon] %> createable-option">
						<%= link_to t(createables[:title]), createables[:path] %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<% @pen.bylines_by_category.each do |category, bylines| %>
		<div class="pen-credit" id="as-<%= category.underscore %>">
			<h2>As [<%= category.titleize %>]</h2>
			<% @uploads = Collectables::UploadsDecorator.decorate bylines.map {|b| b.work } %>
			<%= render 'users/uploads/table' %>
		</div>
	<% end %>
</article>

<footer class="path-finder">
	<%= link_to "Pen Names", pen_namings_path %>
</footer>

<script type="text/javascript">
$(document).ready(function(){
	$(".sortable").tablesorter();
});
</script>
