<ol class="pagination">
	<li class="first"><%= first_item %></li>
	<li class="prev"><%= prev_item %></li>
	<li class="current"><%= current_item %></li>
	<li class="next"><%= next_item %></li>
	<li class="last"><%= last_item %></li>
</ol>
