<header data-type="Article">
	<h4><%= link_to article.title, article %> / by <%= article.uploader.name %></h4>
	
	<div class="about">
		<%= article.uploaded_by.html_safe %>
	</div>
</header>

<%= article.summarized %>
<%= article.snippet_tags_line %>
