<header data-type="Short Story">
	<h4><%= link_to short_story.title, short_story %></h4>
	<%= short_story.rated %>

	<div class="about">
		<%= short_story.uploaded_by.html_safe %>
	</div>
</header>

<%= short_story.summarized %>
<%= short_story.snippet_tags_line %>
