<h4>
	<%= story.icon %>
	<%= link_to story.title_with_count, story %>
</h4>
<%= story.completion_status %>

<%= story.chapters_status %>
<%= story.rated %>

<div class="about">
	<%= story.uploaded_by.html_safe %>
	<%= story.chapters_count_status %>
</div>
