<% provide(:title, "Help") %>
<h1>Help</h1>

<div class="poster-grid">
	<%= grid_panel "lightest-major" do %>
		<%= panel_cell "quintet water" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet page" do %><p>Lightest</p><% end %>
	<% end %>

	<%= grid_panel "lightest-minor" do %>
		<%= panel_cell "quintet water" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Lightest</p><% end %>
		<%= panel_cell "quintet page" do %><p>Lightest</p><% end %>
	<% end %>

	<%= grid_panel "lighter-major" do %>
		<%= panel_cell "quintet water" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet page" do %><p>Lighter</p><% end %>
	<% end %>

	<%= grid_panel "lighter-minor" do %>
		<%= panel_cell "quintet water" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Lighter</p><% end %>
		<%= panel_cell "quintet page" do %><p>Lighter</p><% end %>
	<% end %>

	<%= grid_panel "light-major" do %>
		<%= panel_cell "quintet water" do %><p>Light</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Light</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Light</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Light</p><% end %>
		<%= panel_cell "quintet page" do %><p>Light</p><% end %>
	<% end %>

	<%= grid_panel "light-minor" do %>
		<%= panel_cell "quintet water" do %><p>Light</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Light</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Light</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Light</p><% end %>
		<%= panel_cell "quintet page" do %><p>Light</p><% end %>
	<% end %>

	<%= grid_panel "medium-color" do %>
		<%= panel_cell "quintet water" do %><p>Medium</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Medium</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Medium</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Medium</p><% end %>
		<%= panel_cell "quintet page" do %><p>Medium</p><% end %>
	<% end %>

	<%= grid_panel "dark-minor" do %>
		<%= panel_cell "quintet water" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet page" do %><p>Dark</p><% end %>
	<% end %>

	<%= grid_panel "dark-major" do %>
		<%= panel_cell "quintet water" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Dark</p><% end %>
		<%= panel_cell "quintet page" do %><p>Dark</p><% end %>
	<% end %>

	<%= grid_panel "darker-minor" do %>
		<%= panel_cell "quintet water" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet page" do %><p>Darker</p><% end %>
	<% end %>

	<%= grid_panel "darker-major" do %>
		<%= panel_cell "quintet water" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Darker</p><% end %>
		<%= panel_cell "quintet page" do %><p>Darker</p><% end %>
	<% end %>

	<%= grid_panel "darkest-minor" do %>
		<%= panel_cell "quintet water" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet page" do %><p>Darkest</p><% end %>
	<% end %>

	<%= grid_panel "darkest-major" do %>
		<%= panel_cell "quintet water" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet fire" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet moss" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet rose" do %><p>Darkest</p><% end %>
		<%= panel_cell "quintet page" do %><p>Darkest</p><% end %>
	<% end %>
</div>
