<% provide(:title, 'Tags') %>
<main class='index'>
	<h1>Tags</h1>

	<h2>Activities</h2>
	<%= index_toolkit('Acivities', new_activity_path) %>
	<%= render 'activities/list' %>

	<h2>Concepts</h2>
	<%= index_toolkit('Concept', new_concept_path) %>
	<%= render 'concepts/list' %>

	<h2>Identities</h2>
	<%= index_toolkit('Identity', new_identity_path) %>
	<%= render 'identities/list' %>

	<h2>Relationship Types</h2>
	<%= index_toolkit('Relationship Type', new_relator_path) %>
	<%= render 'relators/list' %>
</main>
