<main id="item">
	<header>
		<%= work_toolkit @work %>
		<h1><%= @work.title %></h1>
		<%= markdown @work.summary || "" %>
		<%= render 'works/meta' %>
	</header>

	<article class='piece'>
		<%= render 'note', note: @note %>
	</article>

	<%= note_footer(@note.work) %>
</main>
