<% provide(:title, @item.name) %>

<header class="subject-header show-header">
	<h1><%= @item.name %></h1>
	<div class="metadata">
		<%= @item.description_status %>
	</div>
	<%= @item.edit_bar %>
</header>

<div class="subject-body info-body info-grid">
	<% if @item.possessors.size > 0 %>
		<% @item.possessors.each do |heading, listable| %>
			<%= solo_cell do %>
				<div class="widget page-widget">
					<h2 class="subheading"><%= heading %></h2>

					<ul>
					<% listable.each do |c| %>
						<li><%= link_to c.name, c %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<%= solo_cell do %>
			<div class="widget page-widget">
				<p>No current tags.</p>
			</div>
		<% end %>
	<% end %>
</div>

<%= render 'subjects/shared/footer' %>
