<% provide(:title, @item.name) %>

<header>
	<h1><%= @item.name %></h1>
	<%= @item.description_status %>

	<%= @item.edit_bar %>
</header>

<article class="page-body">
	<%= @item.list_related_characters %>
</article>

<%= render 'subjects/shared/footer' %>
