<% provide(:title, @video.title) %>

<%= @video.breadcrumbs %>

<article>
	<div class="artwork centerpiece">
		<iframe width="560" height="315" src="<%= @video.embed_src %>" frameborder="0" allowfullscreen></iframe>
	</div>

	<h1 class="section-title">
		<%= @video.title %>
		<%= subtitle "Hosted @ #{@video.host}" %>
	</h1>

	<%= @video.response_bar %>
	<%= @video.summary_block %>
	<%= render 'works/shared/tag_widget' %>
</article>

<% if @video.comments.length > 0 %>
	<div class="comments-content">
		<h2 class="comments-heading">Comments</h2>
		<%= render 'comments/nested_comments', comments: @video.comments, merged: false %>
	</div>
<% end %>
<div class="comments-form">
	<%= render 'comments/form', comment: @video.comments.new %>
</div>

<footer class="path-finder">
	<p>
		<%= link_to t('content_types.music_videos'), music_videos_path %> |
		<%= link_to t('collected.works'), works_path %>
	</p>
</footer>

<%= @work.skin_content %>
