<% provide(:title, @work.title) %>

<%= @work.breadcrumbs %>

<header class="work-header show-header">
	<h1><%= @work.title %></h1>
	<%= @work.completion_status %>
	<%= @work.metadata_block %>
	<%= @work.response_bar %>
</header>

<div class="subject-body">
	<%= @work.summary_block unless @work.lacks_summary? %>

	<%= render 'works/shared/tag_widget' %>
</div>

<footer class="path-finder">
	<p>
		<%= link_to t('content_types.journals'), journals_path %> |
		<%= link_to t('collected.nonfiction'), nonfiction_index_path %> |
		<%= link_to t('collected.works'), works_path %>
	</p>
</footer>
