<aside class="sidebar">

	<h2 class="control-title">Account</h2>
	<ul class="control-group">
		<% if current_user.admin? %>
			<li><%= link_to "Admin Panel", admin_path %></li>
		<% end %>
		<li><%= link_to "Dashboard", dashboard_path %></li>
		<li><%= link_to "Pen Names", pen_namings_path %></li>
		<li><%= link_to "Stylesheet Skins", user_skins_path %></li>
	</ul>

	<h2 class="control-title">Creations and Uploads</h2>
	<ul class="control-group createables">
		<li>
			<h3 class="action-title">Uploaded Works</h3>
			<ul class="action-group">
				<li>
					Articles      
					<span class="manager">
						<a href="">see all</a> | 
						<%= link_to 'create', new_article_path %>
					</span>
				</li>
				<li>
					Blog Post     
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
				<li>
					Music Video   
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
				<li>
					Poems         
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
				<li>
					Radio Plays   
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
				<li>
					Song          
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
				<li>
					Short Stories 
					<span class="manager">
						<a href="">see all</a> | 
						<%= link_to 'create', new_short_story_path %>
					</span>
				</li>
				<li>
					Stories       
					<span class="manager">
						<a href="">see all</a> | 
						<%= link_to 'create', new_story_path %>
					</span>
				</li>
			</ul>
		</li>

		<li>
			<h3 class="action-title">Links</h3>
			<ul class="action-group">
				<li>
					Fiction Links
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
			</ul>
		</li>


		<li>
			<h3 class="action-title">Subjects</h3>
			<ul class="action-group">
				<li>
					Characters
					<span class="manager">
						<%= link_to 'see all', uploads_characters_path %> | 
						<%= link_to 'create', new_character_path %>
					</span>
				</li>
				<li>
					Places
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
				<li>
					Items
					<span class="manager">
						<a href="">see all</a> | 
						<a href="">create one</a>
					</span>
				</li>
			</ul>
		</li>
	</ul>

	<h2 class="control-title">Discussion</h2>

	<ul class="control-group">
		<li><a href="">Topics</a></li>
		<li><a href="">Tracked Comments</a></li>
	</ul>
</aside>
