<% remote ||= false %>
<%= clean_form_for @relator, remote: remote do |f| %>

	<%= grid_panel do %>
		<%= panel_cell "golden-major" do %>
			<fieldset class="primary-fieldset">
				<%= f.string_cell :left_name,  "Name" %>
				<%= f.string_cell :right_name, "Name of the Inverse Relationship If It Exists" %>
			</fieldset>
		<% end %>

		<%= panel_cell "golden-minor" do %>
			<div class="tooltip">
				<p>Use gender neutral terms whenever possible.</p>
			</div>
		<% end %>
	<% end %>
	
	<%= f.submit_cell %>
<% end %>
