<%= clean_form_for(@article) do |f| %>

	<%= form_title f.string_cell :title, "Title" %>
	<%= error_block(@article) %>

	<div id="form-tabs">
		<ul>
			<li><a href="#tab-0">Meta</a></li>
			<li><a href="#tab-1">Content</a></li>
			<li><a href="#tab-2">Tags (Optional)</a></li>
		</ul>

		<div id="tab-0">
			<%= f.text_cell :summary, { class: :minor }, true %>
			<%= render @article.meta_fields, f: f %>
		</div>
		<div id="tab-1"><%= f.text_cell :article_content, class: :major %></div>
		<div id="tab-2"><%= render @article.tag_fields, f: f %></div>
	</div>
	<%= f.submit_cell %>
<% end %>
