<header class="snippet-header">
	<h4>
		<%= article.icon %>
		<%= link_to article.title, article %>
	</h4>
	<%= article.max_rating_status %>
</header>

<div class="snippet-body">
	<%= article.summarized %>
	<%= article.snippet_tags_line %>
</div>

<footer class="snippet-footer">
	<%= article.byline %>
	<%= article.time_started %>
</footer>
