<% provide(:title, @article.title) %>

<header class="work-header">
	<h1>
		<%= @article.title %>
		<%= @article.byline.html_safe %>
	</h1>
	<%= @article.completion_status %>

	<div class="about">
		<%= @article.summarized %>
		<%= @article.all_tags_line %>
	</div>
	
	<%= @article.edit_bar %>
</header>


<article role="article">
	<div class="page-body" id="work-content">
		<%= markdown @article.content %>
	</div>

	<footer>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer class="path-finder">
	<%= link_to "All Article", articles_path %> |
	<%= link_to "All Works", works_path %>
</footer>

<%= @work.skin_content %>