<% provide(:title, @article.title) %>

<article role="article">
	<header>
		<%= @article.edit_bar %>
		<%= @article.rated %>
		<h1><%= @article.title %></h1>

		<%= @article.uploaded_by.html_safe %>
		<%= @article.timestamps %>
	</header>

	<%= markdown @article.content %>

	<footer>
		<%= @article.edit_bar %>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer>
	<%= link_to "All Article", articles_path %> |
	<%= link_to "All Works", works_path %>
</footer>
