<% provide(:title, @article.title) %>

<header class="work-header">
	<h1>
		<%= @article.title %>
		<%= @article.byline.html_safe %>
	</h1>
	<%= @article.completion_status %>
	<%= @article.edit_bar %>

	<div class="about">
		<%= @article.summarized %>
		<%= @article.all_tags_line %>
	</div>
	
</header>

<article role="article">
	<div class="page-body" id="work-content">
		<%= markdown @article.content %>
	</div>

	<footer>
		<%= render 'comments/discussion' %>
	</footer>
</article>

<footer class="path-finder">
	<p><%= link_to "Discuss", article_discussion_path(@article) %></p>
	<p>
		<%= link_to "All Article", articles_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @work.skin_content %>
