<% provide(:title, @article.title) %>

<%= @article.breadcrumbs %>

<header class="work-header show-header">
	<h1>
		<%= @article.title %>
	</h1>

	<%= @article.metadata_block %>
	<%= @article.response_bar %>
</header>

<%= subject_body do %>
	<%= @article.summary_block %>
<% end unless @article.lacks_summary? %>

<article role="article">
	<h1 class="section-title">
		<%= @article.title %>
		<%= subtitle @article.byline.html_safe %>
	</h1>
	<div class="page-body" id="work-content">
		<%= markdown @article.content %>
	</div>
</article>

<%= subject_body do %>
	<%= render 'works/shared/tag_widget' %>
	<%= render 'comments/discussion' %>
<% end %>

<footer class="path-finder">
	<p>
		<%= link_to t('content_types.articles'), articles_path %> |
		<%= link_to t('collected.works'), works_path %>
	</p>
</footer>

<%= @article.skin_content %>
