<h2>Sign Up</h2>

<%= clean_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>

		<%= f.string_cell :name, "Username" %>
		<%= f.email_cell %>

	<fieldset class="form-grid">
		<legend>
			Password Length: 
			<span class="input-rule">
				<%= @minimum_password_length %> characters minimum
			</span>
		</legend>

		<%= f.password_cell :password %>
		<%= f.password_cell :password_confirmation %>
		<p></p>
	</fieldset>

	<%= f.submit_cell "Sign Up" %>
<% end %>

<footer>
	<%= render "devise/shared/links" %>
</footer>
