<% provide :title, "#{@parent.heading} - Works - Activity, Related Tags, and Statistics" %>

<header class="index-header">
	<h1>
		<%= link_to @parent.heading, @parent %>
		::
		<%= link_to("Works", url_for(@parent) + '/works/') %>
		<%= subtitle "About Tags" %>
	</h1>
</header>

<div class="subject-body">
	<%= page_widget "Tagged Works" do %>
		<%= render "tag_counter_with_type", label: "Title", type: :works, counts: @intrawork_count, type_labels: WorkConnection.filter_labels %>
	<% end %>

	<%= page_widget "Characters" do %>
		<%= render "tag_counter_with_type", label: "Name", type: :characters, counts: @characters_count, type_labels: Appearance.filter_labels %>
	<% end %>

	<%= page_widget "Groups and Relationships" do %>
		<%= render "tag_counter_with_type", label: "Name", type: :squads, counts: @squads_count, type_labels: SocialAppearance.filter_labels %>
	<% end %>

	<%= page_widget "Tags" do %>
		<%= render "tag_counter_with_type", label: "Name", type: :tags, counts: @tags_count, type_labels: Tagging.work_filter_labels  %>
	<% end %>

	<%= page_widget "Places" do %>
		<%= render "tag_counter", label: "Name", type: :places, counts: @places_count %>
	<% end %>

	<%= page_widget "Character Identities" do %>
		<%= render "tag_counter_with_type", label: "Name", type: :identities, counts: @identities_count, type_labels: Appearance.filter_labels  %>
	<% end %>
</div>

<% timelength_creation, dataset_creation = count_overtime_dataset(@overtime_type_count) %>
<% timelength_update,   dataset_update   = count_overtime_dataset(@updating_type_count) %>

<script type="text/javascript">
$(document).ready(function(){
	$(".sortable").tablesorter();
});
var data1 = {
	labels:   <%= timelength_creation.to_json.to_s.html_safe %>,
	datasets: <%= dataset_creation.to_json.to_s.html_safe %>
};
var scatterChart = new Chart($("#creation-plot"), {
	type: 'line',
	data: data1,
	options: {}
});

var data2 = {
	labels:   <%= timelength_update.to_json.to_s.html_safe %>,
	datasets: <%= dataset_update.to_json.to_s.html_safe %>
};
var scatterChart = new Chart($("#updating-plot"), {
	type: 'line',
	data: data2,
	options: {}
});
</script>
