<% provide(:title, "Creator Categories") %>

<%= dashboard_header ["Admin Panel", "Creator Categories"] do %>
	<%= @creator_categories.found_status %>
	<%= creation_toolkit("Category", :creator_category) %>
<% end %>

<div class="index-body">
	<%= @creator_categories.results %>
</div>

<%= render 'categories/footer' %>
