<% provide(:title, "Creator Categories") %>

<header class="index-header">
	<h1>
		Admin Panel
		<%= subtitle "Creator Categories" %>
	</h1>
	<%= @creator_categories.found_status %>
	<%= creation_toolkit("Category", :creator_category) %>
</header>

<div class="index-body">
	<%= @creator_categories.results %>
</div>

<%= render 'categories/footer' %>
