<% provide(:title, @creator_category.name) %>

<header class="category-header show-header">
	<h1 id="<%= @creator_category.tag_id %>">
		<%= title @creator_category.name %>
		<%= subtitle @creator_category.agentive %>
	</h1>
	<%= @creator_category.edit_form_div %>
	<%= @creator_category.edit_bar %>
</header>

<%= subject_body do %>
	<%= render 'agentable' %>
<% end %>

<%= render 'categories/footer' %>
