<%= clean_form_for(@story) do |f| %>

	<%= error_block(@story) %>

	<%= f.string_cell :title, "Title" %>
	<%= f.text_cell   :summary, {class: :minor}, true %>

	<fieldset class='nested-fieldset nested-branches-fieldset'>
		<legend><%= @story.trunk.nil? ? "First Branch" : "Branches" %></legend>

		<%= f.fields_for :branches do |branch| %>
			<div class="branch">
				<%= render 'works/branches/form_fields', f: branch %>
			</div>
		<% end %>
	</fieldset>

	<%= render @story.meta_fields, f: f %>
	<%= render @story.tag_fields, f: f %>

	<%= f.submit_cell %>
<% end %>
