<%= form_for(@story) do |f| %>

	<ul>
		<% @story.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>

	<fieldset class="primary">
		<%= render @story.primary_fields, f: f %>
	</fieldset>

	<fieldset class='nested'>
		<legend>
			<%= @story.trunk.nil? ? "First Branch" : "Branches" %>
		</legend>

		<%= f.fields_for :branches do |branch| %>
			<div class="branch">
				<%= render 'works/branches/form_fields', f: branch %>
			</div>
		<% end %>
	</fieldset>

	<%= render @story.tag_fields, f: f %>

	<%= submit_panel f %>
<% end %>
