<header class="snippet-header">
	<h4>
		<%= branching_story.icon %>
		<%= link_to branching_story.title, branching_story %>
	</h4>

	<%= branching_story.completion_status %>
	<%= branching_story.rated %>
</header>

<div class="snippet-body">
	<%= branching_story.summarized %>
	<%= branching_story.snippet_tags_line %>
</div>

<footer class="snippet-footer">
	<%= branching_story.byline %>
	<%= branching_story.time_started %>
	<%= branching_story.time_updated %>
</footer>
