<%= form_for(@link) do |f| %>

	<ul>
		<% @link.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>

	<fieldset class="primary">
		<%= string_panel f, :title, "Write Title" %>

		<%= f.fields_for :sources do |b| %>
			<%= string_panel b, :reference, "Enter Link" %>
		<% end %>
	</fieldset>

	<%= render @link.tag_fields, f: f %>

	<%= submit_panel f %>
<% end %>
