<h4>
	<%= story_link.icon %>
	<%= story_link.main_link %> @ <%= story_link.link_to_host %>
</h4>

<div class="snippet-meta snippet-detail">
	<%= story_link.summarized %>
	<%= story_link.snippet_tags_line %>
</div>
