<% provide(:title, @link.title) %>

<header class="work-header">
	<h1>
		<%= @link.title %>
		<%= @link.uploaded_by.html_safe %>
	</h1>

	<div class="about">
		<%= @link.all_tags_line %>
	</div>

	<%= @link.edit_bar %>
</header>

<div class="page-body">
	<h2>Links</h2>
	<ul>
		<% @link.sources.each do |source| %>
			<li><%= offsite_link_to source.reference, source.reference %></li>
		<% end %>
	</ul>
</div>

<footer class="path-finder">
	<p>
		<%= link_to "All Fiction Links", story_links_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
