<% provide(:title, @link.title) %>

<header class="work-header record-header">
	<h1>
		<%= @link.title %>
		<%= @link.uploaded_by.html_safe %>
	</h1>

	<%= @link.edit_bar %>
</header>

<div class="subject-body">
	<%= page_widget "Links" do %>
		<ul class="indexable">
			<% @link.sources.each do |source| %>
				<li class="icon icon-link"><%= offsite_link_to source.pathing, source.pathing %></li>
			<% end %>
		</ul>
	<% end %>

	<%= page_widget "Tags" do %>
		<h3>General(<%= @work.tags.length %>)</h3>
		<p><%= cslinks @work.tags %></p>

		<h3>Places (<%= @work.places.length %>)</h3>
		<p><%= cslinks @work.places %></p>
	<% end %>
	
	<%= page_widget "Characters" do %>
		<% Appearance.tag_labels(@work).each do |role| %>
			<% characters = @work.cohort_group_by role[:label] %>

			<h3><%= role[:heading] %>(<%= characters.length %>)</h3>
			<p><%= cslinks characters %></p>
		<% end %>
	<% end %>

	<%= page_widget "Works" do %>
		<% WorkConnection.tag_labels(@work).each do |role| %>
			<% works = @work.organized_works_by role[:label] %>

			<h3><%= role[:heading] %> (<%= works.length %>)</h3>
			<p><%= cslinks works %></p>
		<% end %>

	<% end %>
</div>

<footer class="path-finder">
	<p>
		<%= link_to "All Fiction Links", story_links_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
