<%= clean_form_for(@squad) do |f| %>

	<%= error_block(@squad) %>
	<fieldset class="primary-fieldset">
		<%= grid_panel do %>
			<%= panel_cell "duo" do %>
				<%= f.string_cell :name,   "Group Name" %>
			<% end %>
			<%= panel_cell "duo" do %>
				<%= f.string_cell :label, "Group Type" %>
			<% end %>
		<% end %>

		<%= f.text_cell :description, class: :minor %>
		<%= f.edit_and_view_fields %>
	</fieldset>

	<div class="nested-contained-fieldset">
		<%= grid_panel do %>
			<%= panel_cell "duo" do %>
				<div class="squad-tags">
					<%= tag_field_cell(["squad","tags"], @squad.current_tags, "Tags") %>
					<%= tag_field_cell(["squad","people"], @squad.current_characters, "Characters") %>
					<%= tag_field_cell(["squad","relateables"], @squad.current_connections, "Relationships") %>
				</div>
			<% end %>
			<%= panel_cell "duo" do %>
				<div class="tooltip">
					<p>Tagging characters in both the relationship tags and the characters tags is <b>redundant</b> but <b>permitted.</b></p>
					<p>The positions of the character names are only important when there are two labels. <%= link_to "See here for all relationship types", relators_url %></p>
					<p>Example relationship tags</p>
						
					<ul>
						<li>siblings: Luke Skywalker &amp; Leia Organa</li>
						<li>siblings: Leia Organa &amp; Luke Skywalker </li>
						<li>parent/child: Anakin Skywalker &amp; Luke Skywalker</li>
						<li>grandparent/grandchild: Shmi Skywalker &amp; Luke Skywalker</li>
						<li>loves: Anakin Skywalker &amp; Padme Amidala</li>
						<li>loves: Padme Amidala &amp; Anakin Skywalker</li>
						<li>spouses: Anakin Skywalker &amp; Padme Amidala</li>
						<li>spouses: Padme Amidala &amp; Anakin Skywalker</li>
						<li>parent's sibling/sibling's child: Luke Skywalker & Kylo Ren</li>
					</ul>
				</div>

			<% end %>
		<% end %>
	</div>

	<%= f.submit_cell %>

<% end %>
