<% provide(:title, @concept.name) %>

<main class="feature">
  <header>
    <%= model_toolkit @concept %>
    <h1><%= @concept.name %></h1>
    <p>created : <%= record_time @concept.created_at %></p>
    <nav>
      <%= link_to "All Works", concept_works_path(@concept) %>
    </nav>
  </header>

  <article>
    <h2>Statistics</h2>
  </article>

  <%= render 'descriptors/shared/footer' %>
<main>
