<div class="stats">
	<table class='time'>
		<caption>Time</caption>
		<tr>
			<th>Created</th>
			<td><%= record_time work.created_at %></td>
			<td></td>
		</tr>
		
		<% unless work.just_created? %>
			<tr>
				<th>Updated</th>
				<td><%= record_time work.updated_at %></td>
				<td></td>
			</tr>
		<% end %>
	</table>

	<table>
		<caption>Rating</caption>
		<thead>
			<tr>
				<th>Sexuality</th>
				<th>Violence</th>
				<th>Language</th>
			</tr>
		</thead>

		<tr>
			<td class="<%= rating_class(4 - work.rating.sexuality) %>"><%= work.rating.heading_sexuality %></td>
			<td class="<%= rating_class(4 - work.rating.violence)  %>"><%= work.rating.heading_violence  %></td>
			<td class="<%= rating_class(4 - work.rating.language)  %>"><%= work.rating.heading_language  %></td>
		</tr>
	</table>
</div>
