<div class="stats">
	<table class='time'>
		<caption>Time</caption>
		<tr>
			<th>Uploaded</th>
			<td><%= record_time work.created_at %></td>
			<td></td>
		</tr>
		
		<% unless work.just_created? %>
			<tr>
				<th>Updated</th>
				<td><%= record_time work.updated_at %></td>
				<td></td>
			</tr>
		<% end %>
	</table>

	<p class="rating">
		<%= reversed_rating(:span, work.rating.sexuality, work.rating.heading_sexuality) %>
		<%= reversed_rating(:span, work.rating.violence, work.rating.heading_violence) %>
		<%= reversed_rating(:span, work.rating.language, work.rating.heading_profanity) %>
	</p>
</div>
