<% if @work.uploader?(current_user) %>
	<%= f.fields_for :rating do |rating_builder| %>
		<%= render 'works/shared/rating_fields', f: rating_builder %>
	<% end %>
<% end %>

<fieldset class="tags about">
	<legend>Tags</legend>

	<%= grid_panel do %>
		<%= panel_cell "golden-major" do %>
			<%= taggables([@work.klass, "taggables"], @work.tag_names, "General Tags") %>

			<% Appearance.tag_labels(@work).each do |role| %>
				<%= taggables [@work.klass, "appearables", role[:label]], @work.cohort_names_by(role[:label]), role[:heading] %>
			<% end %>
			<%= taggables([@work.klass, "placeables"], @work.place_names, @work.location_heading) %>

			<fieldset class="tags works">
				<legend>Related Work Tags</legend>

						<% WorkConnection.tag_labels(@work).each do |group| %>
							<%= taggables [@work.klass, "relateables", group[:label]], @work.organized_work_titles_by(group[:label]), group[:heading] %>
						<% end %>
			</fieldset>
		<% end %>

		<%= panel_cell "golden-minor" do %>
			<div class="clarify">
				<p>Tag in whichever way disambiguates</p>
				<p>Characters</p>
				<ul>
					<li>Harry Potter</li>
					<li>Slytherin!Harry Potter</li>
					<li>Nemo (Little Nemo)</li>
					<li>Nemo (Finding Nemo)</li>
				</ul>

				<p>Works:</p>
				<ul>
					<li>Fire and Ice</li>
					<li>Fire and Ice [Poem]</li>
					<li>Fire and Ice / Robert Frost</li>
					<li>Fire and Ice [Poem] / Robert Frost</li>
					<li>Star Wars [Film Series]</li>
					<li>Star Wars [Franchise]</li>
				</ul>
			</div>
		<% end %>
	<% end %>

</fieldset>
