<% if @work.uploader?(current_user) %>
	<%= f.fields_for :rating do |rating_builder| %>
		<%= render 'works/shared/rating_fields', f: rating_builder %>
	<% end %>
<% end %>

<fieldset class="tags about">
	<legend>Tags</legend>

	<%= grid_panel do %>
		<%= panel_cell "golden-major" do %>
			<fieldset class="tags true-tags place-tags">
				<legend>Tags</legend>

				<% Tagging.work_labels.each do |form| %>
					<% lb = [@work.klass, "taggables", form]     %>
					<% tg = @work.organized_true_tag_names(form) %>
					<%= taggables(lb, tg, "#{form.titleize} Tags") %>
				<% end %>
				<%= taggables([@work.klass, "placeables"], @work.place_names, @work.location_heading) %>
			</fieldset>

			<fieldset class="tags characters">
				<legend>Character Tags</legend>

				<% Appearance.tag_labels(@work).each do |role| %>
					<% lb = [@work.klass, "appearables", role[:label]] %>
					<% tg = @work.cohort_names_by(role[:label])        %>
					<%= taggables lb, tg, role[:heading] %>
				<% end %>
			</fieldset>

			<fieldset class="tags groupings">
				<legend>Relationships &amp; Groups</legend>
				<% (0..(SocialAppearance.labels.size-1)).each do |i| %>
					<% lb = [@work.klass, "socialables", SocialAppearance.data_labels[i]] %>
					<% hd = SocialAppearance.labels[i] %>
					<%= taggables(lb, [], "#{hd.titleize} Tags") %>
				<% end %>
			</fieldset>

			<fieldset class="tags works">
				<legend>Related Work Tags</legend>
				<% WorkConnection.tag_labels(@work).each do |group| %>
					<% lb = [@work.klass, "relateables", group[:label]]   %>
					<% tg = @work.organized_work_titles_by(group[:label]) %>
					<%= taggables lb, tg, group[:heading] %>
				<% end %>
			</fieldset>
		<% end %>

		<%= panel_cell "golden-minor" do %>
			<div class="clarify">
				<p>Tag in whichever way disambiguates</p>
				<p>Characters</p>
				<ul>
					<li>Harry Potter</li>
					<li>Slytherin!Harry Potter</li>
					<li>Nemo (Little Nemo)</li>
					<li>Nemo (Finding Nemo)</li>
				</ul>

				<p>Works:</p>
				<ul>
					<li>Fire and Ice</li>
					<li>Fire and Ice [Poem]</li>
					<li>Fire and Ice / Robert Frost</li>
					<li>Fire and Ice [Poem] / Robert Frost</li>
					<li>Star Wars [Film Series]</li>
					<li>Star Wars [Franchise]</li>
				</ul>
			</div>
		<% end %>
	<% end %>

</fieldset>
