<div class="form-grid slider">
	<div class="grid-panel">
		<div class="panel-cell solo">
			<div class="range-cell"><div id="editable" class='range-values'></div></div>
		</div>
	</div>
	<div class="grid-panel range">
		<div class="panel-cell quartet"><span class="label">Editing Level</span></div>
		<div class="panel-cell quartet"><span id="editor_label" class="val"></span></div>
		<div class="panel-cell quartet"><span class="label">Viewing Requirements</span></div>
		<div class="panel-cell quartet"><span id="viewer_label" class="val"></span></div>
	</div>
	<%= f.hidden_field :editor_level, id: "editor"    %>
	<%= f.hidden_field :publicity_level, id: "viewer" %>
</div>

<script type="text/javascript">
$(function() {
	var levels = <%= Editable.labels.to_s.html_safe %>;
	$( "#editable" ).slider({
			range: true,
			values: [<%= f.object.editor_level || 0 %>, <%= f.object.publicity_level || 5 %>],
			min: 0,
			max: 5,
			step: 1,
			slide: function( event, ui ) {
					$("#viewer" ).val( ui.values[1] );
					$("#viewer_label").html(levels[ui.values[1]]);
					$("#editor" ).val( ui.values[0] );
					$("#editor_label").html(levels[ui.values[0]]);
			}
	});
	$("#viewer").val($( "#editable" ).slider( "values", 1 ) );
	$("#viewer_label").html(levels[$( "#editable" ).slider( "values", 1 )]);

	$("#editor").val($( "#editable" ).slider( "values", 0 ) );
	$("#editor_label").html(levels[$( "#editable" ).slider( "values", 0 )]);
});
</script>
