<% provide(:title, @tag.name) %>

<%= render 'taggings/shared/header' %>

<article class="page-body">
	<h2>Statistics</h2>
	<table class="analytics">
		<thead>
			<tr>
				<th>Work Type</th>
				<th>Count</th>
			</tr>
		</thead>
		<tr>
			<th>Articles</th>
			<td><%= @tag.articles.count %></td>
		</tr>
		<tr>
			<th>Short Stories</th>
			<td><%= @tag.short_stories.count %></td>
		</tr>
		<tr>
			<th>Stories</th>
			<td><%= @tag.stories.count %></td>
		</tr>
		<tr>
			<th>Story Links</th>
			<td><%= @tag.story_links.count %></td>
		</tr>
		<tfoot>
			<tr>
				<th><%= link_to "All Works", tag_works_path(@tag) %></th>
				<td><%= @tag.works.count %></td>
			</tr>
		</tfoot>
	</table>
</article>

<%= render 'taggings/shared/footer' %>
