<% provide(:title, @tag.name) %>

<%= render 'taggings/shared/header' %>

<article class="subject-body">
	<%= page_widget "Find" do %>
		<ul class="curation-navigation">
			<li class="icon icon-books"><%= link_to "Works", tag_works_path(@tag) %></li>
		</ul>
	<% end %>

	<%= page_widget "Statistics" do %>
		<table class="analytics">
			<thead>
				<tr>
					<th>Type</th>
					<th>Count</th>
				</tr>
			</thead>

			<% @tag.categories_count.each do |type, count| %>
				<tr>
					<th><%= type %></th>
					<td><%= count %></td>
				</tr>
			<% end %>

			<tfoot>
				<tr>
					<th>Total</th>
					<td><%= @tag.taggers.size %></td>
				</tr>
			</tfoot>
		</table>
	<% end %>
</article>

<%= render 'taggings/shared/footer' %>
