<% provide(:title, @work.title) %>

<header class="work-header show-header">
	<h1>
		<%= link_to @work.title, @work %>
		<%= subtitle "Branches & Paths" %>
	</h1>
</header>

<div class="index-body">
	<div class="results-table">
		<h2>Branches</h2>

		<% branches = @branches.includes(:child_branchings => :child_node).decorate %>
		<% count    = branches.length %>

		<div id="branching-form"></div>

		<table class="branches-table tableized-results sortable">
			<thead>
				<tr>
					<th>Title</th>
					<th>Creation Date</th>
					<th>Update Date</th>
				</tr>
			</thead>

			<% branches.each do |branch| %>
				<tr class="index-content branch-info editable-content">
					<th>
						<span class="branch-title content-title">
							<%= link_to branch.title, [@work, branch] %>
						</span>
						<% path_count = branch.child_branchings.length %>
						<% can_graft  = count - path_count > 0 %>
						<%= branch.manage_kit(can_graft) %>
					</th>
					<td data-label="Creation Date"><%= record_time branch.created_at %></td>
					<td data-label="Update Date"><%=   record_time branch.updated_at %></td>
				</tr>
			<% end %>
		</table>

		<h2>Paths</h2>
		<table class="branches-table tableized-results sortable">
			<thead>
				<tr>
					<th>Path Title</th>
					<th>Branch From</th>
					<th>Branch To</th>
				</tr>
			</thead>
			<% branches.each do |branch| %>
				<% branch.child_branchings.decorate.each do |branching| %>
					<tr class="index-content branching-info editable-content">
						<th>
							<span class="content-title icon icon-leaf">
								<%= branching.heading %>
							</span>
							<%= branching.manage_kit %>
						</th>
						<td data-label="From"><%= link_to branch.title, [@work, branch] %></td>
						<td data-label="To"><%= link_to branching.child_node.title, [@work, branching.child_node] %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>

<footer>
	<p class="path-finder">
		<%= link_to "All Branching Stories", branching_stories_path %> | 
		<%= link_to "All Fiction", fiction_index_path %> | 
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<script type="text/javascript">
	$(document).ready(function(){ $(".sortable").tablesorter(); });
</script>
