<% provide(:title, @work.title) %>

<header class="work-header">
	<h1><%= @work.title %></h1>
	<%= @work.completion_status %>
	<%= @work.rated %>

	<div class="about">
		<%= @work.summarized %>
		<%= @work.all_tags_line %>
		<%= link_to "All Branches", branching_story_branches_path(@work) %>
	</div>
	<%= @work.response_bar %>
</header>

<article role="article">
	<header>
		<% if @branch.parent_nodes.length > 0 && !@branch.is_trunk? %>
			<h3>Return:</h3>
			<ul class="branching">
				<% @branch.parent_nodes.each do |parent| %>
					<li class="icon icon-leaf"><%= link_to parent.title, [@work, parent] %></li>
				<% end %>			
			</ul>
		<% end %>
	</header>

	<div class="page-body" id="work-content">
		<h2><%= @branch.title %></h2>
		<%= markdown @branch.content %>
	</div>

	<footer>
		<div class="branching">
			<% if @branch.has_children? %>
				<h3>Choose:</h3>

				<ul>
					<% @branch.child_branchings.each do |branching| %>
						<li class="icon icon-leaf"><%= link_to branching.heading, [@work, branching.child_node] %></li>
					<% end %>			
				</ul>
			<% else %>
				<p>The End.</p>
			<% end %>

			<%= render 'works/branches/interaction_toolkit', branch: @branch %>
		</div>

	</footer>
</article>

<footer>
	<div class="path-finder">
		<p>
			<%= link_to "Discuss Branch", branch_discussion_path(@branch) %> | 
			<%= link_to "See All Story Discussion", branching_story_discussion_path(@work) %>
		</p>
		<p>
			<%= link_to "All Branching Stories", branching_stories_path %> | 
			<%= link_to "All Fiction", fiction_index_path %> | 
			<%= link_to "All Works", works_path %>
		</p>
	</div>
</footer>

<%= @work.skin_content %>
