<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

	<%= devise_error_messages! %>

	<%= input_email f %>

	<div class="grid-panel submit-field">
		<div class="panel-cell solo"><%= f.submit "Resend unlock instructions" %></div>
	</div>

<% end %>

<footer>
	<%= render "devise/shared/links" %>
</footer>

