<h2>Resend unlock instructions</h2>

<%= clean_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

	<%= devise_error_messages! %>

	<%= f.email_cell %>

	<%= f.submit_cell "Resend unlock instructions" %>
<% end %>

<footer>
	<%= render "devise/shared/links" %>
</footer>

