<header class="snippet-header">
	<h4>
		<%= journal.icon %>
		<%= link_to journal.title, journal %>
	</h4>

	<%= journal.completion_status %>
</header>

<div class="snippet-body">
	<%= journal.summarized %>
	<%= journal.snippet_tags_line %>
</div>

<footer class="snippet-footer">
	<%= journal.byline %>
	<%= journal.time_started %>
	<%= journal.time_updated %>
</footer>
