<header class="snippet-header">
	<h4>
		<%= casting.icon %>
		<%= link_to casting.title, casting %>
	</h4>
</header>

<div class="snippet-body">
	<%= casting.summarized %>
	<%= casting.snippet_tags_line %>
</div>

<footer class="snippet-footer">
	<%= casting.byline %>
	<%= casting.time_started %>
	<%= casting.time_updated %>
</footer>
