<% provide(:title, @notes.meta_title(@work)) %>

<header>
	<h1>
		<%= link_to @work.title, @work %>
		<%= subtitle "Notes" %>
	</h1>
</header>

<article class="page-body">
	<% if @notes.length > 0 %>
		<%= render 'works/notes/list' %>
	<% else %>
		<%= @work.note_creation_link %>
	<% end %>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Works", works_path %>
	</p>
</footer>
