<% provide(:title, @notes.meta_title(@work)) %>

<header>
	<h1>
		<%= link_to @work.title, @work %>
		<%= subtitle "Notes" %>
	</h1>
</header>

<article class="page-body">
	<div class="results-table">
		<%= render 'works/notes/list' if @notes.length > 0 %>
		<%= @work.note_creation_link %>
	</div>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Works", works_path %>
	</p>
</footer>
