<main class="feature">
	<%= render 'works/shared/header' %>

	<article class="piece">
		<header>
			<%= model_toolkit(@note) %>
			<h2><%= @note.heading %></h2>
		</header>
		<%= markdown @note.content %>
	</article>

	<%= render 'works/shared/footer' %>
</main>