<% provide(:title, @note.meta_title) %>

<header>
		<%= @work.edit_bar %>
		<%= @work.rated %>
		<h1><%= @work.title %></h1>

		<%= @work.uploaded_by.html_safe %>
		<%= markdown @work.summary %>
		<%= @work.component_indices %>
		<p><%= link_to "Whole Story", whole_story_path(@work) %></p>
</header>

<article role="article">
	<header>
		<h2><%= @note.heading %></h2>
		<%= @note.edit_bar %>
	</header>

	<%= markdown @note.content %>

	<footer>
		<%= @note.edit_bar %>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer>
	<p>
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
