<% provide(:title, @note.meta_title) %>

<header class="work-header">
	<h1>
		<%= @work.title %>
		<%= @work.byline.html_safe %>
		<%= subtitle @note.heading %>
	</h1>
	<%= @work.completion_status %>
	<%= @work.rated %>
	<%= @work.createables_links %>
	
	<div class="about">
		<%= @work.summarized %>
		<%= @work.all_tags_line %>
	</div>

	<%= @work.navigation_on_note %>
</header>

<article role="article">
	<header>
		<h1><%= @note.heading_with_count %></h1>
		<%= @note.timestamps %>
		<%= @note.edit_bar %>
	</header>

	<div class="page-body" id="work-content">
		<%= markdown @note.content %>
	</div>

	<footer>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @work.skin_content %>