<%= form_tag url_for(only_path: true), method: 'get' do %>
	<aside class="filters">
		<div class="filter-section">
			<% @works.filter_values.each do |key, group| %>
				<div>
					<%= filter_selects group[:type], group[:values], group[:title] %>
				</div>
			<% end %>
		</div>

		<div class="filter-section">
			<h2 class="filter-title filter-tags-title">
				With
				<%= hide_link("tag-inclusion-filters") %>
				<%= show_link("", "tag-inclusion-filters") %>
			</h2>
			<div id="form_tag-inclusion-filters" class="toggleable-filter-tags">
				<% @works.filter_labels.each do |label, filters| %>
					<%= filter_tags([:with] + filters, label) %>
				<% end %>
			</div>
		</div>

		<div class="filter-section">
			<h2 class="filter-title filter-tags-title">
				Without
				<%= hide_link("tag-exclusion-filters") %>
				<%= show_link("", "tag-exclusion-filters") %>
			</h2>
			<div id="form_tag-exclusion-filters" class="toggleable-filter-tags">
				<% @works.filter_labels.each do |label, filters| %>
					<%= filter_tags([:without] + filters, label) %>
				<% end %>
			</div>
		</div>
		<%= filter_submit_tag  %>
	</aside>
<% end %>
