<%= form_for(@work) do |f| %>

	<%= f.hidden_field :user_id,  :value => 1 %>

	<fieldset class="heading">
		<%= form_field f.label(:title), f.text_field(:title, :placeholder => "Add Title") %>
		<%= form_field f.label(:summary), f.text_area(:summary, :placeholder => "Add Summary", :class=> :minor) %>

		<fieldset class='tags' id="tags">
			<legend>Tags</legend>
			<%= form_field label_tag(:concepts, "General Tags"), text_field_tag(:concepts, @concepts.join(";"), :placeholder => "Add General Tags (magic realism,...)", class: 'taggables') %>
			<%= form_field label_tag(:activities, "Activities"), text_field_tag(:activities, @activities.join(";"), :placeholder => "Add Activities (dancing, fighting,...)", :class => 'taggables') %>
			<%= form_field label_tag(:qualities, "Qualities"), text_field_tag(:qualities, @qualities.join(";"), :placeholder => "Add Qualities (good, evil,...)", class: 'taggables') %>
		</fieldset>
	</fieldset>

	<%= show_link(@charnest.heading, @charnest.klass) %>
	<fieldset class='nested' id="<%= @charnest.form_id %>">
		<%= nested_fields @charnest, f %>
		<p><%= link_to_add_association '+ Character', f, @charnest.klass, :partial=> @charnest.partial %></p>
	</fieldset>
	<%= f.submit %>
<% end %>
