<%= form_for(@work) do |f| %>

	<%= f.hidden_field :user_id,  :value => 1 %>

	<fieldset class="heading">
		<%= form_field f.label(:title), f.text_field(:title, :placeholder => "Add Title") %>
		<%= form_field f.label(:summary), f.text_area(:summary, :placeholder => "Add Summary", :class=> :minor) %>
	</fieldset>

	<fieldset class='nested tags'>
		<legend>Tags</legend>
		<%= form_field label_tag(:connections, "Relationships"), text_field_tag(:connections, @connections.join(";"), :placeholder => "Add Character Relationships", :class => 'taggables') %>
		<%= form_field label_tag(:conceptions, "Concepts"), text_field_tag(:conceptions, @conceptions.join(";"), :placeholder => "Add Concepts", class: 'taggables') %>
	</fieldset>

	<%= show_link(@charnest.heading, @charnest.klass) %>
	<fieldset class='nested' id="<%= @charnest.form_id %>">
		<%= nested_fields @charnest, f %>
		<p><%= link_to_add_association '+ Character', f, @charnest.klass, :partial=> @charnest.partial %></p>
	</fieldset>
	<%= f.submit %>
<% end %>
