<%= form_for(@work) do |f| %>
	<fieldset>
		<%= form_field f.label(:title), f.text_field(:title) %>
		<%= form_field f.label(:user_id), f.collection_select(:user_id, User.order('name').all, :id, :name) %>
		<%= form_field f.label(:summary), f.text_area(:summary) %>
	</fieldset>

	<%= show_link("Characters", :char) %>
	<fieldset class='nested' id="form_char">
		<%= nested_fields "Characters", :char, :appearances, f, 'appearance_fields' %>
		<p><%= link_to_add_association '+ Character', f, :appearances %></p>
	</fieldset>

	<%= show_link("Concepts", :conp) %>
	<fieldset class='nested' id="form_conp">
		<%= nested_fields "Concepts", :conp, :conceptions, f, 'conception_fields' %>
		<p><%= link_to_add_association '+ Concept', f, :conceptions %></p>
	</fieldset>

	<%= f.submit %>
<% end %>
