<% @works.each do |work| %>
	<article class='snippet'>
		<header>
			<h4><%= link_to work.title, work %></h4>
			<%= work.completion_status %>
			<%= work.rated %>
			<%= work.uploaded_by.html_safe %>
			<%= work.timestamps %>
		</header>

		<div class="tags">
			<p><%= cslinks work.tags %></p>
			<p><%= cslinks work.main_characters %></p>
			<p><%= cslinks work.places %></p>
		</div>

		<div class="summary"><%= markdown work.summary %></div>
	</article>
<% end %>
