<table class="meta">
	<thead>
		<tr>
			<th>Parts</th>
			<td><%= link_to "Chapters", work_chapters_path(@work) %></td>
			<td><%= link_to "Notes", work_notes_path(@work) %></td>
		</tr>
	</thead>

	<% if @work.anthologies.length > 0 %>
	<tr>
		<th><%= "Anthology".pluralize(@work.anthologies.length) %></th>
		<td colspan='3'>
			<ul>
			<% @work.anthologies.each do |anthology| %>
				<li><%= link_to anthology.name, anthology %></li>
			<% end %>
			</ul>
		</td>
	</tr>
	<% end %>

	<tr>
		<th>Tags</th>
		<td colspan='3'>
			<dl>
				<dt>Concepts</dt>
				<dd><%= cslinks(@work.concepts) %></dd>

				<%= render 'works/meta_character', characters: @work.main_characters, type: "Main" %>
				<%= render 'works/meta_character', characters: @work.side_characters, type: "Side" %>
				<%= render 'works/meta_character', characters: @work.mentioned_characters, type: "Mentioned" %>
			</dl>
		</td>
	</tr>
	<tfoot>
		<tr>
			<th>Created</th>
			<td><%= @work.created_at.strftime("%b %d, %Y") %></td>
			<th>Updated</th>
			<td><%= @work.updated_at.strftime("%b %d, %Y") %></td>
		</tr>
	</tfoot>
</table>
