<% provide(:title, "#{@parent.heading} - Works" ) %>

<main class='index'>
	<header>	
		<h1><%= link_to @parent.heading.titleize, polymorphic_path(@parent) %> / Works</h1>
	</header>

	<%= render 'index_aside' %>
	<%= render 'index_results' %>

	<footer class='related_items'>
		<p><%= link_to @parent.heading, polymorphic_path(@parent) %></p>
		
		<% if @parent.is_subject? %>
	 		<%= render 'shared/subject_footer' %>
		<% else %>
	 		<%= render 'shared/tag_footer' %>
 		<% end %>
	</footer>
</main>
