<% provide :title, @works.title %>

<header class="index-header">
	<h1><%= @works.heading %></h1>
	<%= @works.found_status %>

	<%= @works.for_categories %>
	<%= @works.creation_path %>
</header>

<div class="index-body">
	<%= @works.results %>
</div>
