<% provide :title, @works.title %>

<header class="index-header">
	<h1><%= @works.heading %></h1>
	<%= @works.found_status %>

	<%= @works.for_categories %>
	<%= @works.creation_path %>
</header>

<div class="index-body">
	<%= grid_panel "filtered" do %>
		<%= paginated_panel(@works) do %>
			<%= @works.snippets %>
			<%= @works.link_display_question %>
		<% end %>
		<%= panel_cell "golden-minor" do @works.filters end %>
	<% end %>
</div>

<script type="text/javascript">
$('.filter-links').change(function() { window.location.href = $(this).val(); });
</script>
