<% provide :title, @works.title %>

<%= index_header(@works) do %>
	<%= @works.for_categories %>
	<%= @works.creation_path %>
<% end %>

<div class="index-body">
	<div class="results">
		<header><%= paginate @works, :window => @works.page_window %></header>

		<div class="filtered">
			<%= grid_panel do %>
				<%= panel_cell "results-body golden-major" do %>
					<%= @works.snippets %>
					<%= @works.link_display_question %>
				<% end %>
				<%= panel_cell "golden-minor" do @works.filters end %>
			<% end %>
		</div>

		<footer><%= paginate @works, :window => @works.page_window %></footer>
	</div>
</div>

<script type="text/javascript">
$('.filter-links').change(function() { window.location.href = $(this).val(); });
</script>
