<% provide(:title, "Works") %>
<%= render 'search_form' %>

<main class='index'>
	<header>
		<h1>Works</h1>
		<%= index_toolkit("Work", new_work_path) %>
		<%= paginate @works, :window => 2 %>
	</header>

	<%= render 'list' %>

	<footer>
		<%= paginate @works, :window => 2 %>
	</footer>
</main>
