<% provide(:title, "Information about " + @work.heading) %>
<div id="main" class="feature">
	<header>
		<h1>Information about <%= @work.heading %></h1>
		<%= work_toolkit @work %>
	</header>

	<article class="content">
		<%= render 'works/shared/overview' %>

		<section class='about'>
			<%= render 'works/chapters/list_brief' %>
			<%= render 'works/notes/list_brief' %>
		</section>
	</article>

	<footer>
		<p><%= link_to 'Works', works_path %></p>
	</footer>
</div>
