<% provide :title, "About | #{@work.title}" %>

<header class="work-header">
	<h1>
		<%= link_to @work.title, @work %>
		<%= subtitle @work.byline.html_safe %>
	</h1>

	<%= @work.completion_status %>

	<div class="metadata">
		<%= metadata("Likes:",  @work.opinion_avg) %>
		<% @work.rating.categorized.each do |label, level_content| %>
			<%= metadata("#{label}:",  level_content) %>
		<% end %>
	</div>
	<%= metadata(@work.categorized_type, '') %>

	<%= @work.response_bar %>
</header>

<div class="subject-body">
	<%= @work.summary_block %>
	<%= render 'works/shared/tag_widget' %>
</div>

<footer class="path-finder">
	<%= link_to t('pather.works'), works_path %>
</footer>
