<% provide :title, "About | #{@work.title}" %>

<header class="work-header show-header">
	<h1>
		<%= link_to @work.title, @work %>
		<%= subtitle @work.byline.html_safe %>
	</h1>

	<%= @work.completion_status %>
	<%= @work.metadata_block %>
	<%= metadata(@work.categorized_type, '') %>

	<%= @work.response_bar %>
</header>

<%= subject_body do %>
	<%= @work.summary_block %>
	<%= render 'works/shared/tag_widget' %>
<% end %>

<footer class="path-finder">
	<%= link_to t('collected.works'), works_path %>
</footer>
