<% provide :title, "About | #{@work.title}" %>

<header class="work-header">
	<h1>
		<%= link_to @work.title, @work %>
		<%= subtitle @work.byline.html_safe %>
	</h1>

	<div class="metadata">
		<%= metadata(@work.categorized_type, '') %>
		<%= metadata("Completion:",  @work.status_label) %>
	</div>

	<%= @work.edit_bar %>
</header>

<div class="subject-body">

	<%= solo_cell do %>
		<div class="summary-cell widget">
			<h2 class="subheading summary-heading">Summary</h2>
			<%= markdown @work.summarized %>
		</div>
	<% end %>

	<%= page_widget "Tags" do %>
		<% Tagging.work_labels.each do |form| %>
			<% tags = @work.ordered_true_tags form %>
	
			<%= render 'works/shared/grouping_tags', 
				heading: (form.titleize + " Tags"), 
				tags:    tags,
				gclass:  "#{form}-tags", 
				topts:   {
					class: "#{form}-tag tag"
				}
			%>
		<% end %>

		<%= render 'works/shared/grouping_tags', heading: "Places", tags: @work.places, gclass: "places", tclass: "place-tag" %>

		<% Appearance.tag_labels(@work).each do |role| %>
			<% characters = @work.ordered_characters.group_by role[:label] %>
			<%= render 'works/shared/grouping_tags', 
				heading: role[:heading], 
				tags:    characters,
				gclass:  "#{role[:label]}-characters", 
				topts:   {
					class: "#{role[:label]}-character character-tag",
					type: role[:label]
				}
			%>
		<% end %>

		<% WorkConnection.tag_labels(@work).each do |role| %>
			<% works = @work.ordered_works.group_by role[:label] %>
			<%= render 'works/shared/grouping_tags', 
				heading: role[:heading], 
				tags:    works,
				gclass:  "#{role[:label]}-works", 
				topts:   {
					class: "#{role[:label]}-works work-tag"
				}
			%>
		<% end %>

		<br>
	<% end %>

</div>

<footer class="path-finder">
	<%= link_to t('pather.works'), works_path %>
</footer>
