<main class="feature">
	<header>
		<%= work_toolkit @work %>
		<h1><%= @work.heading %></h1>
		<div class="summary"><%= markdown @work.summary %>
	</header>
	
	<%= render 'show_stats' %>

	<article>
		<%= render 'works/chapters/list_brief' %>
		<%= render 'works/notes/list_brief' %>
	</article>

	<footer>
		<p><%= link_to 'Works', works_path %></p>
	</footer>
</main>
