<% provide(:title, 'Tags') %>

<div id="main" class="index">
	<h1>Tags</h1>

	<h2>Character Tags (Identities)</h2>
	<%= creation_toolkit('Identity', :identity) %>
	<%= render 'descriptors/identities/list' %>

	<h2>Character Relationship Tags</h2>
	<%= creation_toolkit('Relationship Type', :relator) %>
	<%= render 'descriptors/relators/list' %>

	<h2>Event Tags (Activities)</h2>
	<%= creation_toolkit('Activity', :activity) %>
	<%= render 'descriptors/activities/list' %>

	<h2>Work Tags</h2>
	<%= creation_toolkit('Tag', :tag) %>
	<%= render 'descriptors/tags/list' %>
</div>

