<div class="nested-fields nested-prejudice-fields">

	<fieldset class="viewpoint-fields">
		<legend>Prejudice</legend>
		<% identity       = f.object.identity %>
		<% selected_value = (identity.nil? ? "state" : identity.facet_id) %>

		<%= grid_panel do %>
			<%= panel_cell "duo" do %>
				<%= f.selection_cell :facet_id, @prejudices.facets, "Type", :id, :heading, selected: selected_value %>
			<% end %>
			<%= panel_cell "duo" do %>
				<%= f.string_cell :identity_name, "Type of Person" %>
			<% end %>
		<% end %>

		<%= render 'subjects/characters/fields/viewpoint_fields', f: f %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Prejudice", f %></p>
</div>
