<div class='nested-fields'>
	<fieldset>
		<legend>Prejudice</legend>

		<% oi = f.object.identity %>
		<%= grid_panel do %>
			<%= panel_cell "duo" do %>
				<%= selection_panel(f, :facet_id,  @prejudices.facets, (oi.nil? ? "state" : oi.facet_id)) %>
			<% end %>
			<%= panel_cell "duo" do %>
				<%= string_panel f, :identity_name, "Type of Person" %>
			<% end %>
		<% end %>
		<%= render 'subjects/characters/fields/viewpoint_fields', f: f %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Prejudice", f %></p>
</div>
