<div class='nested-fields'>
	<fieldset>
		<legend>Prejudice</legend>
		<div class='pair'>
			<% facet_label    = f.label(:facet_id, "Facet") %>
			<% name           = (f.object.identity.nil? ? "" : f.object.identity.name) %>
			<% identity_label = f.label(:identity_name, "Type of Person") %>

			<% facet_collection    = f.collection_select(:facet_id, @prejudices.facets, :id, :name, { :selected => (f.object.identity.nil? ? "state" : f.object.identity.facet.id) }, { :class=>'selector' } ) %>
			<%= f.hidden_field :identity_id %>
			<% identity_collection = f.text_field(:identity_name) %>

			<%= form_field facet_label, facet_collection %>
			<%= form_field identity_label, identity_collection %>
		</div>

		<%= render 'subjects/characters/fields/viewpoint_fields', f: f %>
	</fieldset>

	<p><%= link_to_remove_association "- Remove Prejudice", f %></p>
</div>
