<%= clean_form_for(@anthology) do |f| %>

	<%= error_block(@anthology) %>

	<fieldset class="primary-fieldset">
		<%= f.string_cell :name,    "Name of Anthology"   %>
		<%= f.text_cell   :summary, {class: :minor}, true %>
	</fieldset>

	<% current_works = @anthology.current_works %>

	<%= current_works.show %>
	<%= nestset(current_works) do %>
		<%= current_works.fields(f) %>
		<p class="add-cell">
			<%= link_to_add_association "+ Add Work", f, current_works.klass, :partial => current_works.partial %>
		</p>
	<% end %>

	<%= f.submit_cell %>
<% end %>
