<%= form_for(@anthology) do |f| %>
	<fieldset><%= form_field f.label(:name), f.text_field(:name) %>	</fieldset>

	<%= show_link("Works", :works) %>
	<fieldset class='nested' id="form_works">
		<%= nested_fields "Works", :works, :collections, f, 'collection_fields' %>
		<p><%= link_to_add_association('+ Add Work', f, :collections) %></p>
	</fieldset>

	<%= f.submit %>
<% end %>
