<%= form_for(@anthology) do |f| %>
	<fieldset>
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Name of Anthology") %>
		<%= form_field f.label(:summary), f.text_area(:summary, :placeholder => "Add Summary", :class=> :minor) %>
	</fieldset>

	<%= show_link @worknest.heading, @worknest.klass %>
	<%= content_tag :fieldset, class: 'nested works', id: @worknest.form_id do %>
		<%= nested_legend @worknest %>
		<%= nested_fields f, @worknest %>
		<p><%= link_to_add_association '+ Add Work', f, @worknest.klass %></p>
	<% end %>

	<%= f.submit %>
<% end %>
