<% provide(:title, @anthology.heading) %>

<header>
	<%= @anthology.edit_bar %>
	<h1><%= @anthology.heading %></h1>
	<div class="summary"><%= markdown @anthology.summary || "" %></div>
</header>

<div class="page-body">
	<%= @works.recent_widget %>
</div>

<%= render 'footer' %>
