<% provide(:title, @anthology.heading) %>

<header>
	<h1><%= @anthology.heading %></h1>
	<div class="summary">
		<%= markdown @anthology.summary || "" %>
	</div>
	<%= @anthology.edit_bar %>
</header>

<div class="page-body">
	<%= @works.recent_widget %>
</div>

<%= render 'footer' %>