<%= form_for(@character) do |f| %>
	<fieldset>
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Character Name") %>
		<%= form_field label_tag(:identifiers, "Variants"), text_field_tag(:identifiers, @variants.join(";"), :placeholder => "Add Alternate Names", class: 'taggables') %>
		<%= form_field f.label(:about), f.text_area(:about, :placeholder => "Describe Character...") %>
		<%= render 'shared/edit_fields', f: f %>
	</fieldset>

	<%= show_link @descnest.heading, @descnest.klass %>
	<%= content_tag :fieldset, class: 'nested identities descriptors', id: @descnest.form_id do %>
		<%= nested_legend @descnest %>
		<%= nested_fields f, @descnest %>
		<p><%= link_to_add_association "+ Add Descriptor", f, @descnest.klass, :partial=> @descnest.partial %></p>
	<% end %>

	<%= show_link @itemnest.heading, @itemnest.klass %>
	<%= content_tag :fieldset, class: 'nested items', id: @itemnest.form_id do %>
		<%= nested_legend @itemnest %>
		<%= nested_fields f, @itemnest %>
		<p><%= link_to_add_association "+ Add Place", f, @itemnest.klass, :partial=> @itemnest.partial %></p>
	<% end %>

	<%= show_link @prejnest.heading, @prejnest.klass %>
	<%= content_tag :fieldset, class: 'nested identities prejudices', id: @prejnest.form_id do %>
		<%= nested_legend @prejnest %>
		<%= nested_fields f, @prejnest %>
		<p><%= link_to_add_association '+ Add Prejudice', f, @prejnest.klass, :partial=> @prejnest.partial %></p>
	<% end %>

	<%= show_link @opinnest.heading, @opinnest.klass %>
	<%= content_tag :fieldset, class: 'nested opinions', id: @opinnest.form_id do %>
		<%= nested_legend @opinnest %>
		<%= nested_fields f, @opinnest %>
		<p><%= link_to_add_association "+ Add Opinion", f, @opinnest.klass, :partial=> @opinnest.partial %></p>
	<% end %>

	<%= f.submit %>
<% end %>
