<%= clean_form_for(@character) do |f| %>

	<%= error_block(@character) %>

	<fieldset class="primary-fieldset">
		<%= f.string_cell :name, "Character Name" %>
		<%= f.edit_and_view_fields %>
	</fieldset>

	<fieldset class="associative-fieldset">
		<legend>About</legend>

		<div class="other-names">
			<%= tag_field_cell(["character", "variations"], @character.variant_names, "Other Names (Optional)") %>
		</div>

		<%= @text.show %>
		<%= nestset(@text) do %>
			<%= @text.fields(f) %>
			<p class="add-cell">
				<%= link_to_add_association "+ Add Detail", f, @text.klass, :partial => @text.partial %>
			</p>
		<% end %>

		<%= @identities.show %>
		<%= nestset(@identities) do %>
			<%= @identities.fields %>
		<% end %>

		<%= render 'subjects/characters/fields/relationships_tags' %>

		<%= @items.show %>
		<%= nestset(@items) do %>
			<%= @items.fields(f) %>
			<p class="add-cell">
				<%= link_to_add_association "+ Add Item", f, @items.klass, :partial=> @items.partial %>
			</p>
		<% end %>
	</fieldset>

	<fieldset class="associative-fieldset">
		<legend>Opinions and Prejudices (Optional)</legend>

		<%= @prejudices.show %>
		<%= nestset(@prejudices) do %>
			<%= @prejudices.fields(f) %>
			<p class="add-cell">
				<%= link_to_add_association "+ Add Prejudice", f, @prejudices.klass, :partial=> @prejudices.partial %>
			</p>
		<% end %>

		<%= @opinions.show %>
		<%= nestset(@opinions) do %>
			<%= @opinions.fields(f) %>
			<p class="add-cell">
				<%= link_to_add_association "+ Add Opinion", f, @opinions.klass, :partial=> @opinions.partial %>
			</p>
		<% end %>
	</fieldset>

	<%= f.submit_cell %>
<% end %>
