<%= form_for(@character) do |f| %>

	<ul>
		<% @character.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>

	<fieldset class="heading">
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Character Name") %>
		<%= render 'shared/forms/edit_fields', f: f %>

		<div class="restrictions">
			<%= boolean_field(f, :allow_clones, "Allow Users to Make Taggable Copies of This Character") %>
			<%= boolean_field(f, :allow_play,   "Allow Users to Make Roleplayable Copies of This Character") %>
			<%= boolean_field(f, :can_connect,  "Allow Users to Tag This Character in Relationships") %>
		</div>
	</fieldset>

	<fieldset class="about">
		<legend>About</legend>

		<%= form_field label_tag(:identifiers, "Variants"), text_field_tag(:identifiers, @character.variant_names, :placeholder => "Add Other Names", class: 'other-names taggables') %>

		<%= @text.show %>
		<%= content_tag :fieldset, class: @text.nest_class, id: @text.formid do %>
			<%= @text.legend %>
			<%= @text.fields(f) %>
			<p><%= link_to_add_association "+ Add Detail", f, @text.klass, :partial => @text.partial %></p>
		<% end %>

		<%= @identities.show %>
		<%= content_tag :fieldset, class: @identities.nest_class, id: @identities.formid do %>
			<%= @identities.legend %>
			<%= @identities.fields %>
		<% end %>

		<%= render 'subjects/characters/fields/relationships_tags' %>

		<%= @items.show %>
		<%= content_tag :fieldset, class:  @items.nest_class, id: @items.formid do %>
			<%= @items.legend %>
			<%= @items.fields(f) %>
			<p><%= link_to_add_association "+ Add Item", f, @items.klass, :partial=> @items.partial %></p>
		<% end %>
	</fieldset>

	<fieldset class="about">
		<legend>Opinions and Prejudices</legend>

		<%= @prejudices.show %>
		<%= content_tag :fieldset, class:  @prejudices.nest_class, id: @prejudices.formid do %>
			<%= @prejudices.legend %>
			<%= @prejudices.fields(f) %>
			<p><%= link_to_add_association "+ Add Prejudice", f, @prejudices.klass, :partial=> @prejudices.partial %></p>
		<% end %>

		<%= @opinions.show %>
		<%= content_tag :fieldset, class:  @opinions.nest_class, id: @opinions.formid do %>
			<%= @opinions.legend %>
			<%= @opinions.fields(f) %>
			<p><%= link_to_add_association "+ Add Opinion", f, @opinions.klass, :partial=> @opinions.partial %></p>
		<% end %>
	</fieldset>

	<%= f.submit %>
<% end %>
