<%= form_for(@character) do |f| %>

	<ul>
		<% @character.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>

	<%= f.hidden_field :uploader_id,  :value => current_user.id %>

	<fieldset class="heading">
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Character Name") %>
		<%= render 'shared/edit_fields', f: f %>
	</fieldset>

	<fieldset class="about">
		<legend>About</legend>

		<%= form_field label_tag(:identifiers, "Variants"), text_field_tag(:identifiers, @character.variant_names, :placeholder => "Add Other Names", class: 'taggables') %>
		<%= form_field f.label(:about), f.text_area(:about, :placeholder => "About the Character", :class=> :minor) %>

		<%= show_link "Descriptors", :identities %>
		<%= content_tag :fieldset, class: @identities.field_class, id: @identities.formid do %>
			<%= nested_legend @identities %>
			<% @identities.list_possible.each do |facet, list| %>
				<%= form_field label_tag(facet, facet), text_field_tag(facet, csnames(list), class: 'taggables') %>
			<% end %>
		<% end %>

		<%= show_link "Items", :possessions %>
		<%= content_tag :fieldset, class: 'nested items', id: @items.formid do %>
			<%= nested_legend @items %>
			<%= nested_fields f, @items %>
			<p><%= link_to_add_association "+ Add Item", f, @items.klass, :partial=> @items.partial %></p>
		<% end %>
	</fieldset>

	<fieldset>
		<legend>Opinions and Prejudices</legend>

		<%= show_link @prejudices.heading, @prejudices.klass %>
		<%= content_tag :fieldset, class: 'nested identities prejudices', id: @prejudices.formid do %>
			<%= nested_legend @prejudices %>
			<%= nested_fields f, @prejudices %>
			<p><%= link_to_add_association '+ Add Prejudice', f, @prejudices.klass, :partial=> @prejudices.partial %></p>
		<% end %>

		<%= show_link @opinions.heading, @opinions.klass %>
		<%= content_tag :fieldset, class: 'nested opinions', id: @opinions.formid do %>
			<%= nested_legend @opinions %>
			<%= nested_fields f, @opinions %>
			<p><%= link_to_add_association "+ Add Opinion", f, @opinions.klass, :partial=> @opinions.partial %></p>
		<% end %>
	</fieldset>

	<%= f.submit %>
<% end %>
