<% provide(:title, "#{@parent.heading} - Characters" ) %>
<div id="main" class="index">
	<header>
		<h1>[<%= link_to @parent.heading.titleize, polymorphic_path(@parent) %>] Characters</h1>
	</header>

	<%= render 'list' %>

	<footer>
		<p><%= link_to @parent.heading, polymorphic_path(@parent) %></p>
		<% if @parent.is_subject? %>
	 		<%= render 'subjects/shared/footer' %>
		<% else %>
	 		<%= render 'descriptors/shared/footer' %>
 		<% end %>
	</footer>
</div>
