<% provide(:title, "#{@parent.heading} - Characters" ) %>

<header>
	<h1>
		<%= link_to @parent.heading.titleize, polymorphic_path(@parent) %>
		<%= label_span "Characters" %>
	</h1>
</header>

<article class="the-content">
	<%= @characters.list %>
</article>

<footer class="path-finder">
	<p><%= link_to @parent.heading, polymorphic_path(@parent) %></p>
	<% if @parent.is_subject? %>
 		<%= render 'subjects/shared/footer' %>
	<% else %>
 		<%= render 'taggings/shared/footer' %>
		<% end %>
</footer>
