<% provide(:title, @character.name) %>

<header class="subject-header show-header">
	<h1>
		<%= @character.name                    %>
		<%= subtitle @character.alias_headline %>
	</h1>
	<div class="metadata">
		<%= @character.link_to_original %>
		<%= metadata("Uploaded By:", link_to(@character.uploader.name, @character.uploader)) %>
	</div>
	<%= @character.edit_bar %>
</header>

<div class="subject-body">
	<div class="info-body">
		<div class="info-grid">
			<%= solo_cell do render @character.info_folder + "find" end %>
			<%= grid_panel do %>
				<%= panel_cell "golden-minor" do %>
					<%= @character.identity_sidebar %>
				<% end %>
				<%= panel_cell "general golden-major" do %>
					<%= @character.subarticle        %>
					<%= @character.possessions_cell  %>
					<%= @character.network           %>
				<% end %>
			<% end %>
			<%= @character.personal_opinion_panel %>
			<%= @character.public_opinion_panel   %>
			<%= @character.clones_panel           %>
		</div>
		<footer>
			<%= render @character.info_folder + "replication" %>
		</footer>
	</div>

	<footer class="pageable">
		<%= render @character.info_folder + "pagination" %>
	</footer>
</div>

<%= render 'subjects/shared/footer' %>
