<% provide(:title, @character.name) %>

<div id="main" class="feature">
	<header>
		<%= @character.edit_bar %>
		<%= @character.link_to_original %>

		<h1><%= @character.name %></h1>

		<%= @character.list_aliases %>
		<%= uploaded_by @character.uploader %>
	</header>

	<%= render 'info' %>

	<footer>
		<%= @character.replication_bar %>
		<%= @character.pagination %>
	</footer>
</div>

<%= render 'subjects/shared/footer' %>
