<% provide(:title, @character.name) %>

<header class="subject-header">
	<%= @character.link_to_original %>

	<h1><%= @character.name %></h1>

	<%= @character.list_aliases %>
	<%= uploaded_by @character.uploader %>
	<%= @character.edit_bar %>
</header>

<div class="subject-body">

	<div class="info-body">
		<%= render 'info' %>
		<footer><%= @character.replication_bar %></footer>
	</div>

	<footer class="pageable">
		<%= @character.pagination %>
	</footer>

</div>

<%= render 'subjects/shared/footer' %>
