<% provide(:title, @character.name) %>
<main class="itemized">
	<header>
		<%= render 'subjects/characters/about/cloning_source' %>
		<%= model_toolkit @character %>
		<h1><%= @character.name %></h1>
		<p class='identifiers'><%= @character.identifiers.map { |identifier| identifier.name }.join(", ") %></p>
	</header>

	<article>
		<div class="content">
			<%= render 'subjects/characters/about/aside' %>
			<%= render 'subjects/characters/about/details' %>
		</div>
		<footer>
			<%= render 'subjects/characters/about/replicate' %>
			<%= render 'subjects/characters/about/roleplay' %>
		</footer>
	</article>

	<footer>
		<%= render 'subjects/characters/about/directed_links' %>
	</footer>
<main>
<%= render 'subjects/shared/footer' %>
