<% provide(:title, @character.name) %>

<header>
	<%= @character.link_to_original %>

	<h1><%= @character.name %></h1>

	<%= @character.list_aliases %>
	<%= uploaded_by @character.uploader %>
	<%= @character.edit_bar %>
</header>

<div class="feature">
	<%= render 'info' %>
	<footer>
		<%= @character.replication_bar %>
		<%= @character.pagination %>
	</footer>
</div>

<%= render 'subjects/shared/footer' %>
