<% provide(:title, @facets.index_heading) %>

<%= dashboard_header ["Admin Panel", @facets.index_heading] do %>
	<%= @facets.inline_creation %>
	<%= @facets.creation_path %>
<% end %>

<div class="dashboard-grid" id="facets-index">
	<%= render 'facets_table' %>
</div>

<%= render 'categories/footer' %>

<script type="text/javascript">
	$(document).ready(function(){ $(".sortable").tablesorter(); });
</script>
