<% provide(:title, @facets.index_heading) %>

<header>
	<h1><%= @facets.index_heading %></h1>
</header>

<article id="facets-index" class="index-body">
	<table class="tableized">
		<thead>
			<th>Name</th>
			<th>Number of Identities</th>
			<th>Number of Characters</th>
		</thead>

		<tbody>
			<% @facets.each do |facet| %>
				<tr>
					<th><%= link_to facet.heading, facet %></th>

					<td data-label="Identities Count">
						<%= facet.identities.count %>
					</td>
					<td data-label="Character Count">
						<%= facet.characters.count %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</article>

<%= render 'taggings/shared/footer' %>
