<% provide(:title, @facets.index_heading) %>

<header class="index-header">
	<h1>
		Admin Panel
		<%= subtitle @facets.index_heading %>
	</h1>

	<%= @facets.inline_creation %>
	<%= @facets.creation_path %>
</header>

<div class="results">
	<%= solo_cell "facets management-widget" do %>
		<div id="facets-index">
			<%= render 'facets_table' %>
		</div>
	<% end %>
</div>

<%= render 'categories/footer' %>
