<% provide(:title, @facet.name) %>

<header class="category-header show-header">
	<h1>
		Admin Panel
		<%= subtitle @facet.name %>
	</h1>
</header>

<%= subject_body do %>
	<header class="pageable">
		<%= @facet.alphabetic_pagination %>
	</header>

	<%= page_widget "Distribution" do %>
		<%= grid_panel "stat-distribution" do %>
	
			<%= panel_cell "duo" do %>
				<table class="analytics">
					<thead>
						<th>Identity</th>
						<th>Character Count</th>
						<th>Work Count</th>
					</thead>

					<% @facet.identity_distribution.each do |identity| %>
					<tr>
						<th><%= link_to identity.name, identity %></th>
						<td data-label="Count"><%= identity.full_count || 0 %></td>
						<td data-label="Count"><%= identity.work_count || 0 %></td>
					</tr>
					<% end %>
				</table>
			<% end %>

			<%= panel_cell "duo" do %>
				<h3>Chart of Character Distribution</h3>
				<canvas id="distribution"></canvas>
			<% end %>

		<% end %>
	<% end %>

	<footer class="pageable">
		<%= @facet.alphabetic_pagination %>
	</footer>
<% end %>

<%= render 'categories/footer' %>

<script type="text/javascript">
	var data = <%= @facet.pie_dataset %>;
	var ctx = document.getElementById("distribution").getContext("2d");
	var distribution = new Chart(ctx,{
		type: 'pie',
		data: data
	});
</script>
