<% provide :title, @user.name %>

<article>
	<header id="dash-header">
		<h1><%= @user.name %></h1>
	</header>

	<section class="the-content">
		<div class="panels">
			<ul class="panels-nav thirds">
				<li><a href="">Articles</a></li>
				<li><a href="">Stories</a></li>
				<li><a href="">Short Stories</a></li>
			</ul>

			<div class="panel">
				<h2><%= @user.uploaded_articles.panel_heading %></h2>
				<%= @user.uploaded_articles.list %>
			</div>

			<div class="panel">
				<h2><%= @user.uploaded_stories.panel_heading %></h2>
				<%= @user.uploaded_stories.list %>
			</div>
		</div>
	</section>
</article>
