<h2>Change your password</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

	<%= devise_error_messages! %>
	<%= f.hidden_field :reset_password_token %>

	<%= input_password f, :password %>
	<%= input_password f, :password_confirmation %>

	<div class="grid-panel submit-field">
		<div class="panel-cell solo"><%= f.submit "Change my password" %></div>
	</div>

<% end %>

<footer>
	<%= render "devise/shared/links" %>
</footer>
