<%= clean_form_for(@story) do |f| %>

	<%= error_block(@story) %>

	<%= f.string_cell :title, "Title" %>
	<%= f.text_cell   :summary, class: :minor %>
	<%  current_chapters = @story.current_chapters %>
	<%= current_chapters.show %>
	<%= nestset(current_chapters) do %>
		<%= current_chapters.fields(f) %>
		<p class="add-cell">
			<%= link_to_add_association "+ Add Chapter", f, current_chapters.klass, :partial => current_chapters.partial %>
		</p>
	<% end %>
	
	<%= render @story.meta_fields, f: f %>
	<%= render @story.tag_fields,  f: f %>

	<%= f.submit_cell %>
<% end %>
