<%= form_for(@story) do |f| %>

	<%= f.hidden_field :uploader_id,  :value => current_user.id %>

	<ul>
		<% @story.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>

	<fieldset class="primary">
		<%= render work_fields, f: f %>
	</fieldset>

	<%= render :layout => nested_partial, :locals => { :models => @story.current_chapters } do %>
		<%= @story.current_chapters.fields(f) %>
		<p class="add-cell">
			<%= link_to_add_association "+ Add Chapter", f, @story.current_chapters.klass, :partial => @story.current_chapters.partial %>
		</p>
	<% end %>

	<%= render work_tag_fields, f: f %>

	<%= submit_panel f %>
<% end %>
