<header class="snippet-header">
	<h4>
		<%= story.icon %>
		<%= link_to story.title_with_count, story %>
	</h4>

	<%= story.completion_status %>

	<%= story.chapters_status %>
	<%= story.rated %>
</header>

<div class="snippet-body">
	<%= story.summarized %>
	<%= story.snippet_tags_line %>
</div>

<footer class="snippet-footer">
	<%= story.byline %>
	<%= story.time_started %>
	<%= story.time_updated %>
</footer>
