<% provide(:title, @story.title) %>

<article role="article">
	<header>
		<%= @story.edit_bar %>
		<%= @story.rated %>
		<h1><%= @story.title %></h1>

		<%= @story.uploaded_by.html_safe %>
		<%= @story.component_indices %>

		<%= @story.main_tags_line %>
		<%= @story.newest_chapter_position.inspect %>
	</header>

	<% @chapters.each do |chapter| %>
		<section class="chapter">
			<h2><%= chapter.positioned_heading %></h2>
			<%= markdown chapter.content %>
			<%= chapter.afterward_foot %>
		</section>
	<% end %>

	<footer>
		<%= @story.edit_bar %>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer>
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
