<% provide(:title, @work.title) %>

<header class="work-header">
	<h1>
		<%= @work.title %>
		<%= subtitle @work.byline.html_safe %>
	</h1>
	<%= @work.completion_status %>
	<%= @work.rated %>

	<%= @work.createables_links %>

	<div class="about">
		<%= @work.summarized %>
		<%= @work.all_tags_line %>
	</div>

	<%= @work.navigation_on_whole %>
	<%= @work.edit_bar %>
</header>

<article role="article">
	<div class="page-body" id="work-content">
		<% @work.current_chapters.each do |chapter| %>

			<section class="chapter">
				<h2><%= chapter.positioned_heading %></h2>
				<%= markdown chapter.content %>
				<%= chapter.afterward_foot %>
			</section>
		
		<% end %>
	</div>

	<footer>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @work.skin_content %>