<div class="account">
	<% if user_signed_in? %>
		<div class="user">
			<%= link_to current_user.name, dashboard_path, class: "logged-in" %>
			<%= render 'shared/sidebar' %>
		</div>

		<% if current_user.admin? %>
			<div class="user">
				<%= link_to "Admin", admin_path, class: "logged-in" %>
				<%= render 'shared/admin_sidebar' %>
			</div>
		<% end %>
		<span class="session"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></span>
	<% else %>
		<span class="session">
			<%= link_to "Sign In", new_user_session_path %>
			<%= link_to "Sign Up", new_user_registration_path %>
		</span>
	<% end %>
</div>
