<% cache('site_menu_options') do %>
	<nav class="menu">
		<ul>
			<li><%= link_to t("collected.media"),               mediums_path %></li>
			<li><%= link_to drop_arrowed(t('collected.works')), works_path %>
				<div class="submenu mega-drop">

					<div class="category fiction-type">
						<p class="category-title"><%= t('categories.fiction_status') %></p>
						<ul>
							<li><%= link_to t('collected.fiction'), fiction_index_path %></li>
							<li><%= link_to t('collected.nonfiction'), nonfiction_index_path %></li>
						</ul>
					</div>

					<div class="categories">
						<div class="category content-type">
							<p class="category-title"><%= t('categories.content.text') %></p>
							<ul>
								<li><%= link_to "All", works_path(content_type: 'text') %></li>

								<li><%= link_to t('content_types.articles'), articles_path %></li>
								<li><%= link_to t('content_types.journals'), journals_path %></li>
								<li><%= link_to t('content_types.poems'),    poems_path %></li>

								<li><%= link_to t('content_types.branching_stories'), branching_stories_path %></li>
								<li><%= link_to t('content_types.stories'),           stories_path %></li>
								<li><%= link_to t('content_types.short_stories'),     short_stories_path %></li>

							</ul>
						</div>
						<div class="category content-type">
							<p class="category-title"><%= t('categories.content.nontext') %></p>
							<ul>
								<li><%= link_to t('categories.content.video'), works_path(content_type: 'video') %></li>
								<li><%= link_to t('content_types.music_videos'), music_videos_path %></li>

								<li><%= link_to t('categories.content.images'), works_path(content_type: 'images') %></li>
								<li><%= link_to t('content_types.artwork'), artwork_path %></li>
								<li><%= link_to t('content_types.comics'),  comics_path %></li>

								<li><%= link_to t('categories.content.audio'), works_path(content_type: 'audio') %></li>

								<li>Web Series</li>
								<li>Podcasts</li>
								<li>Radio Plays</li>
								<li>Songs</li>
								<li>Fancast</li>
							</ul>
						</div>
					</div>

				</div>
			</li>
			<li><%= link_to t('collected.anthologies'), anthologies_path %></li>
		</ul>
	</nav>
<% end %>
