<% cache('site_menu_options') do %>
	<nav class="menu">
		<ul>
			<li><%= link_to t("collected.media"),               mediums_path %></li>
			<li><%= link_to drop_arrowed(t('collected.works')), works_path %>
				<div class="submenu mega-drop">

					<div class="category fiction-type">
						<p class="category-title"><%= t('categories.fiction_status') %></p>
						<ul>
							<li><%= link_to t('collected.fiction'), fiction_index_path %></li>
							<li><%= link_to t('collected.nonfiction'), nonfiction_index_path %></li>
						</ul>
					</div>

					<div class="categories">
						<div class="category content-type">
							<p class="category-title"><%= t('categories.content.text') %></p>
							<ul>
								<li><%= link_to t('categories.content.text'), works_path(content_type: 'text') %></li>

								<% Collectables::WorksDecorator::TEXTUAL_TYPES.each do |name, path| %>
									<li><%= link_to t("content_types.#{name}"), path %></li>
								<% end %>
							</ul>
						</div>
						<div class="category content-type">
							<p class="category-title"><%= t('categories.content.nontext') %></p>
							<ul>
								<li><%= link_to t('categories.content.images'), works_path(content_type: 'images') %></li>
								
								<% Collectables::WorksDecorator::NONTEXTUAL_TYPES.each do |name, path| %>
									<li><%= link_to t("content_types.#{name}"), path %></li>
								<% end %>
							</ul>
						</div>
					</div>

				</div>
			</li>
			<li><%= link_to t('collected.anthologies'), anthologies_path %></li>
		</ul>
	</nav>
<% end %>
