<aside class="sidebar">

	<h2 class="control-title">Account</h2>
	<ul class="control-group">
		<% if current_user.admin? %>
			<li><%= link_to "Admin Panel", admin_path %></li>
		<% end %>
		<li><%= link_to "Dashboard", dashboard_path %></li>
		<li><%= link_to "Pen Names", pen_namings_path %></li>
	</ul>

	<h2 class="control-title">Uploads</h2>
	<ul class="control-group createables">
		<li><%= link_to "Articles",            article_uploads_path %></li>
		<li><%= link_to "Links",               link_uploads_path %></li>
		<li><%= link_to "Roleplay Characters", character_uploads_path %></li>
		<li><%= link_to "Short Stories",       short_story_uploads_path %></li>
		<li><%= link_to "Stories",             story_uploads_path %></li>
		<li><%= link_to "Stylesheet Skins",    style_uploads_path %></li>
	</ul>

	<h2 class="control-title">Discussion</h2>

	<ul class="control-group">
		<li><a href="">Topics</a></li>
		<li><a href="">Tracked Comments</a></li>
	</ul>
</aside>
