<aside class="sidebar">
	<h2 class="control-title"><%= t('categories.content.all') %></h2>
	<ul class="control-group">
		<li><%= link_to t('content_types.works'), work_uploads_path %></li>
		<li><%= link_to t('content_types.stylesheets'),  style_uploads_path %></li>
	</ul>

	<h2 class="control-title"><%= t('categories.content.text') %></h2>
	<ul class="control-group">
		<% Collectables::WorksDecorator::TEXTUAL_TYPES.keys.each do |resource_name| %>
			<li><%= link_to t("content_types.#{resource_name}"), uploads_path_for(resource_name) %></li>
		<% end %>
	</ul>

	<h2 class="control-title"><%= t('categories.content.nontext') %></h2>
	<ul class="control-group ">
		<% Collectables::WorksDecorator::NONTEXTUAL_TYPES.keys.each do |resource_name| %>
			<li><%= link_to t("content_types.#{resource_name}"), uploads_path_for(resource_name) %></li>
		<% end %>
	</ul>
</aside>
