<header id="site-header">
	<%= link_to 'pleiades text', root_url, :id => 'logo' %>
	<nav>
		<%= link_to 'Anthologies', anthologies_path %>
		<%= link_to 'Works', works_path %>
		<%= link_to 'Characters', characters_path %>
		<%= link_to 'Items', items_path %>
		<%= link_to 'Tags', tags_path %>
	</nav>
</header>
