<nav class="menu">
	<ul>
		<li><%= link_to drop_arrowed("Works"), works_path %>
			<ul class="submenu">
				<li><%= link_to 'Fiction', fiction_index_path %></li>
				<li><%= link_to 'Nonfiction', nonfiction_index_path %></li>
			</ul>
		</li>
		<li><%= link_to 'Anthologies', anthologies_path %> </li>
		<li>
			<%= link_to drop_arrowed("Subjects"), subjects_path %>
			<ul class="submenu">
				<li><%= link_to 'Characters', characters_path %></li>
				<li><%= link_to 'Items', items_path %></li>
				<li><%= link_to 'Places', places_path %></li>
			</ul>
		</li>
		<li>
			<%= link_to drop_arrowed("Tags"), tags_path %>
			<ul class="submenu">
				<li><%= link_to 'Activities', activities_path %></li>
				<li><%= link_to 'Tags', tags_path %></li>
				<li><%= link_to 'Identities', identities_path %></li>
				<li><%= link_to 'Qualities', qualities_path %></li>
				<li><%= link_to 'Relationship Types', relators_path %></li>
			</ul>
		</li>
	</ul>
</nav>
