<h4>
	<%= work_link.icon %>
	<%= work_link.main_link %> @ <%= work_link.link_to_host %>
</h4>

<div class="snippet-meta snippet-detail">
	<%= work_link.summarized %>
	<%= work_link.snippet_tags_line %>
</div>
