<header class="snippet-header">
	<h4>
		<%= work_link.icon %>
		<%= work_link.main_link %> @ <%= work_link.link_to_host %>
	</h4>>
</header>

<div class="snippet-body">
	<%= work_link.summarized %>
	<%= work_link.snippet_tags_line %>
</div>
