<% provide(:title, @link.title) %>

<header class="work-header record-header">
	<h1>
		<%= @link.title %>
		<%= @link.uploaded_by.html_safe %>
	</h1>

	<%= @link.edit_bar %>
</header>

<div class="subject-body">
	<%= page_widget "Links" do %>
		<ul class="indexable">
			<% @link.sources.each do |source| %>
				<li class="icon icon-link"><%= offsite_link_to source.pathing, source.pathing %> @ <%= source.host %></li>
			<% end %>
		</ul>
	<% end %>

	<%= render 'works/shared/tag_widget' %>
</div>

<footer class="path-finder">
	<p>
		<%= link_to "All Links", work_links_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
