<% provide(:title, @link.title) %>

<header class="work-header record-header">
	<h1>
		<%= @link.title %>
	</h1>

	<%= @link.edit_bar %>
</header>

<%= subject_body do %>
	<%= page_widget "Links" do %>
		<ul class="indexable">
			<% @link.sources.each do |source| %>
				<li class="icon icon-link"><%= offsite_link_to source.pathing, source.pathing %> @ <%= source.host %></li>
			<% end %>
		</ul>
	<% end %>

	<%= page_widget "Linked By" do %>
		<p><%= link_to @link.uploader.name, @link.uploader %></p>
	<% end %>

	<%= render 'works/shared/tag_widget' %>
<% end %>

<footer class="path-finder">
	<p>
		<%= link_to "All Links", work_links_path %> |
		<%= link_to t('collected.works'), works_path %>
	</p>
</footer>
