<% provide(:title, @quality.name) %>

<main id='item'>
	<header>
		<%= model_toolkit @quality %>
		<h1><%= @quality.name %></h1>
		<p>created : <%= record_time @quality.created_at %></p>
	</header>

	<article>
		<h2>Items</h2>
		<%= render 'items/list' %>
	</article>

	<%= render 'shared/tag_footer' %>
<main>
