<%= form_for(@term_edge) do |f| %>

	<fieldset>
		<div class='field'>
			<%= f.label :broad_term_id %>
			<%= f.collection_select(:broad_term_id, Term.order('lower(name)').all, :id, :name) %>
		</div>

		<div class='field'>
			<%= f.label :narrow_term_id %>
			<%= f.collection_select(:narrow_term_id, Term.order('lower(name)').all, :id, :name) %>
		</div>
	</fieldset>
	
	<%= f.submit "Submit" %>
<% end %>