<%= clean_form_for(@art) do |f| %>

	<%= form_title f.string_cell :title, "Title" %>
	<%= error_block(@art) %>

	<div id="form-tabs">
		<ul>
			<li><a href="#tab-1">Content</a></li>
			<li><a href="#tab-2">Tags (Optional)</a></li>
		</ul>

		<div id="tab-1">
			<div class="paged-fieldset">
				<%= f.fields_for :picture do |pic| %>
					<%= render 'works/shared/fields/art_upload', f: pic, picture: pic.object.decorate %>
				<% end %>

				<%= f.text_cell :summary, { class: :minor }, true %>
			</div>
			<%= render @art.meta_fields, f: f %>
		</div>
		<div id="tab-2"><%= render @art.tag_fields, f: f %></div>
	</div>
	
	<%= f.submit_cell %>
<% end %>

<%= render 'works/shared/previewer' %>
