<% provide(:title, @art.title) %>

<%= @art.breadcrumbs %>

<div class="artwork centerpiece">
	<%= image_tag @art.image_url %>
</div>

<article>
	<header>
		<h1 class="section-title">
			<%= @art.title %>
			<%= subtitle @art.byline.html_safe %>
		</h1>
		<%= @art.response_bar %>
	</header>
	<p></p>
	<%= @work.summary_block %>
	<%= render 'works/shared/tag_widget' %>
</article>

<% if @art.comments.length > 0 %>
	<div class="comments-content">
		<h2 class="comments-heading">Comments</h2>
		<%= render 'comments/nested_comments', comments: @art.comments, merged: false %>
	</div>
<% end %>
<div class="comments-form">
	<%= render 'comments/form', comment: @art.comments.new %>
</div>

<footer class="path-finder">
	<p>
		<%= link_to "All Art", artwork_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @work.skin_content %>
