
<tr>
	<th>Tags</th>
	<td colspan='3'>
		<dl>
			<% @taggables.each do |type, taggable| %>
				<dt><%= type.pluralize(taggable.count) %></dt>
				<dd><%= cslinks(taggable.map { |tagged| tagged.tag }) %></dd>
			<% end %>

			<%= render 'works/shared/meta/character', characters: @mains, type: "Main" %>
			<%= render 'works/shared/meta/character', characters: @sides, type: "Side" %>
			<%= render 'works/shared/meta/character', characters: @mentions, type: "Mentioned" %>
		</dl>
	</td>
</tr>
