<% provide(:title, @skin.title) %>

<header id="sheet-header" class="show-header">
	<h1>
		Stylesheet Skins
		<%= subtitle @skin.heading_with_status %>
	</h1>
	<%= @skin.edit_bar %>
	<%= @skin.metadata_block %>
</header>

<div class="subject-body">
	<%= grid_panel do %>
		<%= panel_cell "golden-major" do %>

			<%= page_widget "Rules" do %>
				<%= @skin.pretty_print_area %>
			<% end %>

		<% end %>

		<%= panel_cell "golden-minor" do %>
			<%= page_widget "Example" do %>
				<%= @skin.example_area %>
			<% end %>
		<% end %>
	<% end %>

</div>

<script type="text/javascript">
	var parser = new cssjs();
	var parsed = parser.parseCSS("<%= @skin.style.squish %>");

	prettycss("#style-skin", parsed);
	cssexample("#style-example", parsed);
	csscode("#inline-skin", parser.applyNamespacing(parsed, '.subject-body .example'));
</script>

<%= render 'footer' %>
