<% provide(:title, @skin.title) %>

<header id="sheet-header">
	<h1>
		Stylesheet Skins
		<%= subtitler @skin.heading_with_status %>
	</h1>
	<%= alteration_toolkit(@skin) %>
	<%= @skin.uploaded_by %>
</header>

<div class="styles">
	<%= grid_panel do %>
		<%= panel_cell "golden-major" do @skin.pretty_print_area end %>
		<%= panel_cell "golden-minor" do @skin.example_area      end %>
	<% end %>
	<% if @skin.works.length > 0 %>
		<%= solo_cell do @skin.works.decorate.tableize end %>
	<% end %>
</div>

<%= @skin.path_footer %>

<script type="text/javascript">
	var parser = new cssjs();
	var parsed = parser.parseCSS("<%= @skin.style.squish %>");

	prettycss("#style-skin", parsed);
	cssexample("#style-example", parsed);
	csscode("#inline-skin", parser.applyNamespacing(parsed, '.styles .example'));
</script>
