<%= form_for(@character) do |f| %>
	<fieldset>
		<%= form_field f.label(:name), f.text_field(:name) %>
		<%= form_field f.label(:about), f.text_area(:about) %>

		<%= show_link "Variant Names", :nom %>
		<fieldset class='nested' id='form_nom'>
			<%= nested_fields("Variant Names", :nom, :identifiers, f, 'characters/nested/identifier_fields') %>
			<p><%= link_to_add_association "+ Add Name", f, :identifiers, :partial=> 'characters/nested/identifier_fields'  %></p>
		</fieldset>
	</fieldset>

	<%= show_link("Description", :desc) %>
	<fieldset class='nested' id="form_desc">
		<%= nested_fields("Description", :desc, :descriptions, f, 'characters/nested/description_fields') %>
		<p><%= link_to_add_association "+ Add Descriptor", f, :descriptions, :partial=> 'characters/nested/description_fields'  %></p>
	</fieldset>

	<%= show_link("Personal Prejudices", :prej) %>
	<fieldset class='nested' id="form_prej">
		<%= nested_fields("Personal Prejudices", :prej, :prejudices, f, 'characters/nested/viewpoint_fields', {:collection => @identities, :type => "Prejudice"}) %>
		<p><%= link_to_add_association '+ Add Prejudice', f, :prejudices, :render_options => {:locals => {:collection =>  @identities, :type => "Prejudice"}}, :partial=> 'characters/nested/viewpoint_fields' %></p>
	</fieldset>

	<%= show_link("Opinions", :opin) %>
	<fieldset class='nested' id="form_opin">
		<%= nested_fields("Opinions", :opin, :opinions, f, 'characters/nested/viewpoint_fields', {:collection => Character.all, :type => "Opinion"}) %>
		<p><%= link_to_add_association '+ Add Opinion', f, :opinions, :render_options => {:locals => {:collection => Character.all, :type => "Opinion"}}, :partial=> 'characters/nested/viewpoint_fields' %></p>
	</fieldset>

	<%= f.submit %>
<% end %>
