
<div class='nested-fields'>
	<fieldset>
		<% if recip == :right_id %>
			<p class='placeholder'><b>Character</b> Current Character</p>
			<%= form_field f.label(:relator_id, "Relationship Type"), f.collection_select(:relator_id, Relator.all, :id, :left_joiner) %>
			<%= form_field f.label(recip, "Receiving Character"), f.collection_select(recip, Character.order('lower(name)').all, :id, :main_title) %>
		<% else %>
			<%= form_field f.label(recip, "Character"), f.collection_select(recip, Character.order('lower(name)').all, :id, :main_title) %>
			<%= form_field f.label(:relator_id, "Relationship Type"), f.collection_select(:relator_id, Relator.all, :id, :left_joiner) %>
			<p class='placeholder'><b>Receiving Character</b> Current Character</p>
		<% end %>
	</fieldset>

	<p><%= link_to_remove_association "- Remove Relationship", f %></p>
</div>



