<% provide(:title, @character.name) %>
<main id='item'>
	<header>
		<%= model_toolkit @character %>
		<h1><%= @character.name %></h1>
		<p class='identifiers'><%= @character.identifiers.map { |identifier| identifier.name }.join(", ") %></p>
	</header>

	<article>
		<aside class='overview'>
			<h2>Overview</h2>
			<%= render 'identities/list' %>
		</aside>

		<section class='about'>
			<% if @character.about != nil %>
				<h2>About</h2>
				<%= markdown @character.about %>
			<% end %>

			<%= render 'views', views: @character.prejudices, heading: 'Prejudices', set_title: true %>
			<%= render 'views', views: @character.opinions, heading: 'Opinions about Others', set_title: false %>
		</section>

		<section class="relationships">
			<% unless @relationships.empty? %>

			<h2>Relationships</h2>
			<table>
				<thead>
					<tr><th>Type</th><th>People</th></tr>
				</thead>
				<%= relationship_cells(@character.id, @relationships) %>
			</table>

			<% end %>
		</section>
	</article>

	<%= render 'shared/subject_footer' %>
<main>
