<%= form_for(@place) do |f| %>

	<fieldset>
		<%= form_field f.label(:nature, "Type"), f.text_field(:nature, :placeholder => "Add Type of Place") %>
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Place Name") %>
		<%= radios_by_string(f, :fictional, @place.realness_choices, f.object.fictional?) %>
	</fieldset>

	<%= @domains.show %>
	<%= content_tag :fieldset, class: @domains.nest_class, id: @domains.formid do %>
		<%= @domains.legend %>
		<%= @domains.fields(f) %>
		<p><%= link_to_add_association "+ Add Place", f, @domains.klass, :partial=> @domains.partial %></p>
	<% end %>

	<%= @subdomains.show %>
	<%= content_tag :fieldset, class: @subdomains.nest_class, id: @subdomains.formid do %>
		<%= @subdomains.legend %>
		<%= @subdomains.fields(f) %>
		<p><%= link_to_add_association "+ Add Place", f, @subdomains.klass, :partial=> @subdomains.partial %></p>
	<% end %>

	<%= f.submit %>

<% end %>
