<%= form_for(@place) do |f| %>

	<fieldset class="primary">
		<%= string_panel f, :nature, "Describe Type" %>
		<%= string_panel f, :name,   "Name Place"    %>
		<%= radios_by_string(f, :fictional, @place.realness_choices, f.object.fictional?) %>
	</fieldset>

	<%= render :layout => nested_partial, :locals => { :models => @domains } do %>
		<%= @domains.fields(f) %>
		<p class="add-cell"><%= link_to_add_association "+ Add Place", f, @domains.klass, :partial=> @domains.partial %></p>
	<% end %>

	<%= render :layout => nested_partial, :locals => { :models => @subdomains } do %>
		<%= @subdomains.fields(f) %>
		<p class="add-cell"><%= link_to_add_association "+ Add Place", f, @subdomains.klass, :partial=> @subdomains.partial %></p>
	<% end %>

	<%= submit_panel f %>

<% end %>
