<%= form_for(@place) do |f| %>

	<fieldset>
		<%= form_field f.label(:nature, "Type"), f.text_field(:nature, :placeholder => "Add Type of Place") %>
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Place Name") %>
		<%= radios_by_string(f, :fictional, @place.realness_choices, f.object.fictional?) %>
	</fieldset>

	<%= render :layout => nested_partial, :locals => { :models => @domains } do %>
		<%= @domains.fields(f) %>
		<p class="add-cell"><%= link_to_add_association "+ Add Place", f, @domains.klass, :partial=> @domains.partial %></p>
	<% end %>

	<%= render :layout => nested_partial, :locals => { :models => @subdomains } do %>
		<%= @subdomains.fields(f) %>
		<p class="add-cell"><%= link_to_add_association "+ Add Place", f, @subdomains.klass, :partial=> @subdomains.partial %></p>
	<% end %>

	<%= submit_panel f %>

<% end %>
