<%= clean_form_for(@place) do |f| %>

	<%= error_block(@place) %>

	<fieldset class="primary-fieldset">
		<%= grid_panel do %>
			<%= panel_cell "duo" do %>
				<%= f.string_cell :name,   "Place Name" %>
			<% end %>
			<%= panel_cell "duo" do %>
				<%= f.string_cell :nature, "Place Type" %>
			<% end %>
		<% end %>

		<%= f.strung_radios :fictionality, @place.realness_choices, @place.current_realness %>
	</fieldset>

	<fieldset class="associative-fieldset nested-place-fields">
		<legend>Related Places</legend>
		<%= solo_cell do %>
			<%= tag_field_cell(['place', "domainables"],    @place.domain_names,    "Contained Within") %>
			<%= tag_field_cell(['place', "subdomainables"], @place.subdomain_names, "Contains")         %>
		<% end %>

		<%= grid_panel do %>
			<%= panel_cell "golden-major" do %>
				<div class="cascadeable-fields">
					<%= f.boolean_cell :uptree, "automatically tag with parents of the parent places" %>
					<%= f.boolean_cell :downtree, "automatically tag with children of the children places" %>
				</div>
			<% end %>
			<%= panel_cell "golden-minor" do %>
				<div class="tooltip">
					<p>Example: If the Solar System contains Earth and Earth contains Europe, then the Solar System probably contains Europe.</p>
				</div>
			<% end %>
		<% end %>
	</fieldset>

	<%= f.submit_cell %>

<% end %>
