<%= form_for(@place) do |f| %>

	<fieldset>
		<%= form_field f.label(:nature, "Type"), f.text_field(:nature, :placeholder => "Add Type of Place") %>
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Add Place Name") %>
		<%= radios_by_string(f, :fictional, @place.realness_choices, f.object.fictional?) %>
	</fieldset>

	<%= show_link @domains.heading, @domains.klass %>
	<%= content_tag :fieldset, class: 'nested localities', id: @domains.formid do %>
		<%= nested_legend @domains %>
		<%= nested_fields f, @domains %>
		<p><%= link_to_add_association "+ Add Place", f, @domains.klass, :partial=> @domains.partial %></p>
	<% end %>

	<%= show_link @subdomains.heading, @subdomains.klass %>
	<%= content_tag :fieldset, class: 'nested subdomainslocalities', id: @subdomains.formid do %>
		<%= nested_legend @subdomains %>
		<%= nested_fields f, @subdomains %>
		<p><%= link_to_add_association "+ Add Place", f, @subdomains.klass, :partial=> @subdomains.partial %></p>
	<% end %>

	<%= f.submit %>

<% end %>
