<% provide(:title, @place.name) %>

<header class="subject-header">
	<h1><%= @place.heading %></h1>
	<%= @place.edit_bar %>
</header>

<article>
	<%= @place.list_domains %>
	<%= @place.list_subdomains %>
	<%= @place.list_works %>
	<%= @place.list_characters %>
</article>

<%= render 'subjects/shared/footer' %>