<% provide(:title, @place.name) %>

<div id="main" class="feature">
	<header>
		<%= @place.edit_bar %>
		<h1><%= @place.heading %></h1>
	</header>

	<article>
		<%= @place.list_domains %>
		<%= @place.list_subdomains %>
	</article>

	<%= render 'subjects/shared/footer' %>
</div>
