<%= form_for(@relator) do |f| %>

	<p>Use gender neutral terms whenever possible.</p>

	<fieldset>
		<%= form_field f.label(:left_name, 'Relationship'), f.text_field(:left_name, :placeholder => "Name Relationship") %>
		<%= form_field f.label(:right_name, 'Inverse Relationship'), f.text_field(:right_name, :placeholder => "Name the Inverse Relationship If It Exists") %>
	</fieldset>

	<%= show_link @connest.heading, @connest.klass %>
	<%= content_tag :fieldset, class: 'nested relationships', id: @connest.form_id do %>
		<%= nested_legend @connest %>
		<%= nested_fields f, @connest %>
		<p><%= link_to_add_association "+ Add Relationship", f, @connest.klass, :partial=> @connest.partial %></p>
	<% end %>

	<%= f.submit %>

<% end %>