<% provide(:title, @relator.heading.html_safe) %>

<div id="main" class="feature">
	<header>
		<%= model_toolkit @relator %>
		<h1><%= @relator.heading %></h1>
		<p>created : <%= record_time @relator.created_at %></p>
	</header>

	<article>
		<table>
			<% if @relator.interconnections.length > 0  && @relator.has_reverse? %>
				<thead>
					<tr><th><%= @relator.left_name.titleize %></th> <th><%= @relator.right_name.titleize %></th></tr>
				</thead>

				<% @relator.interconnections.each do |interconnection| %>
					<tr>
						<td><%= link_to interconnection.left.name, interconnection.left %></td>
						<td><%= link_to interconnection.right.name, interconnection.right %></td>
					</tr>
				<% end %>
			<% else %>
				<thead><tr><th><%= @relator.heading %></th></tr></thead>
				<% @relator.interconnections.each do |interconnection| %>
					<tr><td><%= link_to interconnection.left.name, interconnection.left %> & <%= link_to interconnection.right.name, interconnection.right %></td></tr>
				<% end %>
			<% end %>
		</table>
	</article>
	<%= render 'descriptors/shared/footer' %>
</div>
