<% provide :title, "Dashboard" %>
<%= render 'sidebar' %>

<article>
	<h1>Hi, <%= @user.name %>.</h1>

	<%= render :partial => "users/pen_namings/pen_names", :locals => { :caption_heading => "Pen Names" } %>

	<div class="uploads">
		<h2>Uploads</h2>
		<ul>
			<li>Articles      <span class="counter"><%= current_user.uploaded_works.articles.count      %></span></li>
			<li>Characters    <span class="counter"><%= current_user.uploaded_characters.count          %></span></li>
			<li>Items         <span class="counter"><%= current_user.uploaded_items.count               %></span></li>
			<li>Places        <span class="counter"><%= current_user.uploaded_places.count              %></span></li>
			<li>Stories       <span class="counter"><%= current_user.uploaded_works.stories.count       %></span></li>
			<li>Short Stories <span class="counter"><%= current_user.uploaded_works.short_stories.count %></span></li>
		</ul>
	</div>
	<%= creation_toolkit "Short_Story", new_polymorphic_path(:short_story) %>
</article>

