<% provide :title, "Dashboard" %>
<%= render 'sidebar' %>

<article>
	<h1>Hi, <%= @user.name %>.</h1>

	<%= render :partial => "users/pen_namings/pen_names", :locals => { :caption_heading => "Pen Names" } %>

	<div class="uploads">
		<h2>Uploads</h2>
		<ul>
			<li>Articles      <span class="counter"><%= @user.uploaded_articles.count      %></span></li>
			<li>Characters    <span class="counter"><%= @user.uploaded_characters.count    %></span></li>
			<li>Items         <span class="counter"><%= @user.uploaded_items.count         %></span></li>
			<li>Places        <span class="counter"><%= @user.uploaded_places.count        %></span></li>
			<li>Stories       <span class="counter"><%= @user.uploaded_stories.count       %></span></li>
			<li>Short Stories <span class="counter"><%= @user.uploaded_short_stories.count %></span></li>
		</ul>

		<% @user.uploadable_types.each do |upload_type| %>
			<%= creation_toolkit upload_type, new_polymorphic_path(upload_type) %>
		<% end %>
	</div>
</article>

