<% provide :title, "My Dashboard" %>
<%= dashboard_header %>

<div class="dashboard-grid">
	<%= grid_panel do %>
		<%= panel_cell "golden-minor" do %>
			<div class="widget">
				<%= @pen_names.tableize %>
				<%= render 'users/skins/skins' %>
			</div>
		<% end %>

		<%= panel_cell "golden-major" do %>
			<%= panel_cell "duo" do %>
				<div class="widget">
					<table class="editable sortable">
						<caption>Links &amp; Works</caption>
						<thead><tr><th>Type</th><th>Count</th></tr></thead>

						<% @user.works.count_by_type.each do |type, size| %>
							<tr class="editable-content">
								<th>
									<% snake_type = type.underscore %>
									<% coll_type  = snake_type.pluralize %>
									<%= link_to coll_type.humanize.titleize, uploads_url(coll_type) %>
									<%= creation_tablekit snake_type %>
								</th>
								<td data-label="Count"><%= size %></td>
							</tr>
						<% end %>
					</table>

					<table class="editable sortable">
						<caption>Top 10 Character Identities in Works</caption>
						<thead><tr><th>Name</th><th>Count</th></tr></thead>

						<% @user.intrawork_identities.limit(10).count_by_name.each do |name, count| %>
							<tr>
								<th><%= name %></th>
								<td data-label="Count"><%= count %></td>
							</tr>
						<% end %>
					</table>
				</div>
			<% end %>

			<%= panel_cell "duo" do %>
				<div class="widget">
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".sortable").tablesorter();
	});
</script>
