<table>
	<thead>
		<tr>
			<th>Chapter Title</th>
			<th>Creation Date</th>
			<th>Update Date</th>
			<th>Word Count</th>
		</tr>
	</thead>
	
	<%= toolblock 4, insertable_chapter_toolkit(@work) %>
	<% @chapters.each do |chapter| %>
		<tr>
			<th rowspan="2"><%= chapter.position %>. <%= link_to chapter.heading, [@work, chapter] %></th>
			<td data-label="Creation Date"><%= record_time chapter.created_at %></td>
			<td data-label="Update Date"><%= record_time chapter.updated_at %></td>
			<td data-label="Word Count"><%= number_with_delimiter(chapter.word_count, :delimiter => ",") %> words</td>
		</tr>
		
		<%= toolblock 3, model_toolkit(chapter) %>

		<% if chapter.position < @chapters.length %>
			<%= toolblock 4, insertable_chapter_toolkit(@work, chapter) %>
		<% end %>
	<% end %>
	<%= toolblock 4, component_toolkit(@work, 'Chapter') %></tr>
</table>
