<table class="tableized-results">
	<thead>
		<tr>
			<th>Chapter Title</th>
			<th>Creation Date</th>
			<th>Update Date</th>
			<th>Word Count</th>
		</tr>
	</thead>
	
	<%= toolblock 5, @chapters.link_to_insert_first(@story) %>

	<% @chapters.each do |chapter| %>
		<tr class="chapter-info">
			<th><%= chapter.position %>. <%= link_to chapter.heading, [@story, chapter] %></th>
			<%= chapter.creation_data %>
			<%= chapter.updated_at_data %>
			<%= chapter.length_data %>
			<td class="manager-editor"><%= chapter.edit_bar %></td>
		</tr>
		
		<% if chapter.position < @chapters.length %>
			<%= toolblock 5, chapter.link_to_insert_next %>
		<% end %>
	<% end %>

	<%= toolblock 5, @story.chapter_insertion_link %></tr>
</table>
