<table>
	<% @chapters.each do |chapter| %>
		<tr>
			<th><%= chapter.position %></th>
			<td><%= link_to chapter.heading, [@work, chapter] %></td>
			<td><%= number_with_delimiter(chapter.word_count, :delimiter => ",") %> words</td>
			<td><%= model_toolkit(chapter) %></td>
		</tr>
	<% end %>

	<tfoot>
		<tr>
			<td colspan='3'><%= component_toolkit @work, 'Chapter' %></td>
		</tr>
	</tfoot>
</table>