<table class="tableized-results sortable">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Creation Date</th>
			<th>Update Date</th>
			<th>Word Count</th>
		</tr>
	</thead>

	<% @chapters.each do |chapter| %>
		<tr class="index-content chapter-info editable-content">
			<th class="position"><%= chapter.position %>.</th>
			<th>
				<span class="content-title">
					<%= link_to chapter.heading, [@story, chapter] %>
				</span>
				<%= chapter.manage_kit %>
			</th>
			<%= chapter.creation_data %>
			<%= chapter.updated_at_data %>
			<%= chapter.length_data %>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function(){ $(".sortable").tablesorter(); });
</script>
