<% provide(:title, @chapters.meta_title) %>

<header class="work-header show-header">
	<h1>
		<%= link_to @story.title, @story %>
		<%= subtitle "Chapters" %>
	</h1>
</header>

<article class="index-body">
	<div class="results-table">
		<% if @chapters.length > 0 %>
			<%= @chapters.link_to_insert_first %>
			<%= render 'works/chapters/list' %>
			<%= @story.chapter_insertion_link %>
		<% end %>

		<%= @story.chapter_creation_link %>
	</div>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
