<% provide(:title, @chapters.meta_title) %>

<header class="work-header">
	<h1>
		<%= link_to @story.title, @story %>
		<%= subtitle "Chapters" %>
	</h1>
</header>

<article class="page-body">
	<% if @chapters.length > 0 %>
		<%= render 'works/chapters/list' %>
	<% else %>
		<%= @story.chapter_creation_link %>
	<% end %>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
