<% provide(:title, @chapters.meta_title(@story)) %>

<div id="main" class="index">
	<article>
		<h1><%= link_to @story.title, @story %></h1>
		<%= render 'list_brief' %>
	</article>
	
	<footer>
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
	</footer>
</div>
