<% provide(:title, @chapter.heading + " | " + @work.heading) %>
<main class="feature">
	<header>
		<h1><%= @work.heading %></h1>
		<%= render 'works/shared/tags' %>
	</header>

	<article class="piece" role="article">
		<header>
			<h2><%= @chapter.complete_heading %></h2>
			<nav>
				<%= link_to prev_heading("Prev Chapter"), [@work, @chapter.prev] unless @chapter.prev.nil? %>
				<%= link_to next_heading("Next Chapter"), [@work, @chapter.next] unless @chapter.next.nil? %>
			</nav>
			<div><%= markdown @chapter.about %></div>
		</header>

		<%= markdown @chapter.content %>

		<footer>
			<% unless @chapter.afterward.empty? %>
				<h3>Afterward</h3>
				<%= markdown @chapter.afterward %>
			<% end %>
			<nav>
				<%= link_to prev_heading("Prev Chapter"), [@work, @chapter.prev] unless @chapter.prev.nil? %>
				<%= link_to next_heading("Next Chapter"), [@work, @chapter.next] unless @chapter.next.nil? %>
			</nav>
			<%= @chapter.topic.heading %>
		</footer>
	</article>

	<%= render 'works/shared/footer' %>
</main>