<% provide(:title, @chapter.meta_title) %>

<header id="story-header" class="work-header">
	<h1>
		<%= @story.title %>
		<%= subtitle @story.byline.html_safe     %>
		<%= subtitle @chapter.positioned_heading %>
	</h1>
	<%= @story.completion_status %>
	<%= @story.rated             %>
	<%= @story.createables_links %>
	
	<div class="about">
		<%= @story.summarized    %>
		<%= @story.all_tags_line %>
	</div>

	<%= @story.navigation_on_chapter %>
</header>

<article role="article">
	<header>
		<%= @chapter.edit_bar %>
		<h1><%= @chapter.heading_with_count %></h1>
		<%= @chapter.timestamps %>

		<%= @chapter.summarized %>
		<%= @chapter.pagination %>
	</header>

	<div class="page-body" id="work-content">
		<%= markdown @chapter.content %>
	</div>

	<footer>
		<%= @chapter.pagination %>
		<%= markdown @chapter.afterward %>
	</footer>
</article>

<%= solo_cell do %>
	<%= render 'works/shared/discussion' %>
<% end %>

<footer class="path-finder">
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @story.skin_content %>

<script type="text/javascript">
$('#chapter-links').change(function() {
    window.location.href = $(this).val();
});
</script>
