<% provide(:title, @chapter.meta_title) %>

<%= @story.breadcrumbs %>

<header id="story-header" class="work-header show-header">
	<h1>
		<%= @story.title %>
		<%= subtitle @story.byline.html_safe     %>
		<%= subtitle @chapter.positioned_heading %>
	</h1>
	<%= @story.completion_status %>
	<%= @story.metadata_block %>

	<%= @story.createables %>
	<%= @story.response_bar %>
	<%= @story.directory %>
</header>

<%= subject_body do %>
	<%= @story.summary_block %>
	<%= @chapter.pagination  %>
<% end %>

<article role="article">
	<header>
		<h1 class="section-title">
			<%= @chapter.heading_with_count %>
		</h1>
		<%= @chapter.timestamps %>
		<%# @chapter.edit_bar %>
		<%= @chapter.summarized %>
	</header>

	<div class="page-body" id="work-content">
		<%= markdown @chapter.content %>
	</div>

	<footer>
		<%= markdown @chapter.afterward %>
	</footer>
</article>

<%= subject_body do %>
	<%= @chapter.pagination %>
	<%= render 'works/shared/tag_widget' %>
	<%= render 'comments/discussion' %>
<% end %>

<footer class="path-finder">
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @story.skin_content %>

<script type="text/javascript">
$('#chapter-links').change(function() {
    window.location.href = $(this).val();
});
</script>
