<% provide(:title, @chapter.meta_title) %>

<header>
		<%= @story.edit_bar %>
		<%= @story.rated %>
		<h1><%= @story.title %></h1>

		<p><%= @story.chapter_creation_link %></p>
		<p><%# @story.note_creation_link %></p>

		<%= @story.uploaded_by.html_safe %>
		<%= markdown @story.summary %>
		<%= @story.component_indices %>
		<p><%= link_to "Whole Story", whole_story_path(@story) %></p>
</header>

<article role="article">
	<header>
		<%= @chapter.pagination %>
		<h2><%= @chapter.heading %></h2>
		<%= @chapter.edit_bar %>

		<p><%= @chapter.length_status %></p>
		<%= @chapter.timestamps %>
		<%= @chapter.summarized %>
	</header>

	<%= markdown @chapter.content %>

	<footer>
		<%= @chapter.edit_bar %>
		<%= @chapter.pagination %>
		<%= markdown @chapter.afterward %>
		<%= render 'works/discussion' %>
	</footer>
</article>

<footer>
	<p>
		<%= link_to "All Stories", stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
