<main class="feature">
	<% provide(:title, @chapter.heading + " | " + @work.heading) %>
	<%= render 'works/shared/header' %>

	<article class="piece" role="article">
		<header>
			<nav>
				<%= link_to prev_heading("Prev Chapter"), [@chapter.work, @chapter.prev] unless @chapter.prev.nil? %>
				<%= link_to next_heading("Next Chapter"), [@chapter.work, @chapter.next] unless @chapter.next.nil? %>
			</nav>

			<h2><%= @chapter.complete_heading %></h2>
			<div><%= markdown @chapter.about %></div>
			<%= model_toolkit(@chapter) %>
		</header>

		<%= markdown @chapter.content %>

		<footer>
			<% unless @chapter.afterward.empty? %>
				<h3>Afterward</h3>
				<%= markdown @chapter.afterward %>
			<% end %>
			<nav>
				<%= link_to prev_heading("Prev Chapter"), [@chapter.work, @chapter.prev] unless @chapter.prev.nil? %>
				<%= link_to next_heading("Next Chapter"), [@chapter.work, @chapter.next] unless @chapter.next.nil? %>
			</nav>
			<%= @chapter.topic.heading %>
		</footer>
	</article>

	<%= render 'works/shared/footer' %>
</main>