<% provide(:title, @chapter.meta_title) %>

<header id="story-header" class="work-header">
	<h1>
		<%= @story.title %>
		<%= subtitle @story.byline.html_safe     %>
		<%= subtitle @chapter.positioned_heading %>
	</h1>
	<%= @story.completion_status %>
	<%= @story.rated             %>
	<%= @story.response_bar %>
	<%# @story.createables_links %>
	
	<div class="about">
		<%= @story.summarized %>
		<%= @story.all_tags_line %>
		<%= @story.navigation_on_chapter %>
	</div>
</header>

<article role="article">
	<header>
		<h1><%= @chapter.heading_with_count %></h1>
		<%= @chapter.timestamps %>
		<%= @chapter.pagination %>
		<%# @chapter.edit_bar %>

		<%= @chapter.summarized %>
	</header>

	<div class="page-body" id="work-content">
		<%= markdown @chapter.content %>
	</div>

	<footer>
		<%= @chapter.pagination %>
		<%= markdown @chapter.afterward %>
	</footer>
</article>

<footer>
	<div class="about">
		<%= @story.all_tags_line %>
	</div>
	<div class="path-finder">
		<p>
			<%= link_to "Discuss Chapter", chapter_discussion_path(@chapter) %> | 
			<%= link_to "See All Story Discussion", story_discussion_path(@story) %>
		</p>
		<p>
			<%= link_to "All Stories", stories_path %> |
			<%= link_to "All Fiction", fiction_index_path %> |
			<%= link_to "All Works", works_path %>
		</p>
	</div>
</footer>

<%= @story.skin_content %>

<script type="text/javascript">
$('#chapter-links').change(function() {
    window.location.href = $(this).val();
});
</script>
