<%= clean_form_for(@record) do |f| %>

	<%= form_title f.string_cell :title, "Title" %>
	<%= error_block(@record) %>

	<div id="form-tabs">
		<ul>
			<li><a href="#tab-1">Content</a></li>
			<li><a href="#tab-2">Tags (Optional)</a></li>
		</ul>

		<div id="tab-1">
			<%= f.fields_for :medium_datum do |b| %>
				<%= b.string_cell :value, "Medium" %>
			<% end %>
			<%= f.text_cell :summary, { class: :minor }, true %>
		</div>

		<div id="tab-2">
			<%= tag_field_cell([@record.klass, "appearables", "subject"], @record.ordered_characters.names_by('subject'), "Characters") %>
			<%= tag_field_cell([@record.klass, "placeables"], @record.place_names, "Places") %>
		</div>
	</div>
	
	<%= f.submit_cell %>

<% end %>