<%= form_for(@record) do |f| %>

	<ul>
		<% @record.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>

	<fieldset class="primary">
		<%= string_panel f, :title, "Write Title" %>
		<%= text_panel   f, :summary, :minor, "Add Summary" %>
	</fieldset>

	<fieldset class="tags about">
		<legend>Tags</legend>
		<%= taggables([@record.klass, "appearables", "subject"], @record.cohort_names_by('subject'), "Characters") %>
		<%= taggables([@record.klass, "placeables"], @record.place_names, "Places") %>
	</fieldset>

	<%= submit_panel f %>
<% end %>
