<% provide(:title, @record.title) %>

<header class="work-header show-header record-header">
	<h1><%= @record.title %></h1>

	<div class="metadata">
		<%= metadata("Medium:", @record.medium) %>
	</div>

	<%= @record.response_bar %>
</header>

<div class="subject-body">
	<%= solo_cell do %>
		<div class="widget">
			<h2 class="subheading">Find</h2>
			<%= render 'mediums/works_by_medium', works: [@work] %>
		</div>
	<% end %>

	<%= solo_cell do %>
		<div class="summary-cell widget">
			<h2 class="subheading summary-heading">Summary</h2>
			<%= @record.summarized %>
		</div>
	<% end %>

	<%= grid_panel do %>
		<%= panel_cell "duo" do %>
			<div class="widget">
				<h2 class="subheading">Characters</h2>

				<ul class="indexable characters">
					<% @record.characters.alphabetical.each do |character| %>
						<li class="icon icon-smile"><%= link_to character.name, character %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<%= panel_cell "duo" do %>
			<div class="widget">
				<h2 class="subheading">Places</h2>

				<ul class="indexable places">
					<% @record.places.alphabetical.each do |place| %>
						<li class="icon icon-earth"><%= link_to place.name, place %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>

<footer class="path-finder">
	<p><%= link_to t("All Records"), records_path %></p>
	<p><%= link_to t("All Works"), works_path %></p>
</footer>
