<%= form_for(@identity) do |f| %>

	<fieldset>
		<%= form_field f.label(:facet_name), f.text_field(:facet_name) %>
		<%= form_field f.label(:name), f.text_field(:name) %>
	</fieldset>

	<%= show_link("Characters", :desc) %>
	<fieldset class='nested' id="form_desc">
		<%= nested_fields "Characters", :desc, :descriptions, f, 'description_fields' %>
		<p><%= link_to_add_association '+ Add Character', f, :descriptions %></p>
	</fieldset>

	<%= f.submit %>

<% end %>