<% provide :title, @subjects.title %>

<header class="index-header">
	<h1><%= @subjects.title %></h1>
	<%= @subjects.found_status %>
	<%= @subjects.creation_path %>
</header>

<div class="index-body">
	<%= @subjects.results %>
</div>

<%= render 'subjects/shared/footer' %>
