<% provide :title, 'Subject' %>
<div id="main" class="index">
	<h1>Subject</h1>

	<h2>Characters</h2>
	<%= @characters.creation_path %>
	<article><%= @characters.list %></article>

	<h2>Items</h2>
	<%= @items.creation_path %>
	<article><%= @items.list if @items.can_list? %></article>

	<h2>Places</h2>
	<%= creation_toolkit('Place', new_place_path) %>
	<%= @places.results %>

</div>
