<h2>Sign in</h2>

<%= clean_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>

	<div class="form-grid">
		<%= f.email_cell %>
		<%= f.password_cell :password %>
	</div>

	<% if devise_mapping.rememberable? %>
		<%= f.boolean_cell :remember_me %>
	<% end %>

	<%= f.submit_cell "Sign In" %>
<% end %>

<footer>
	<%= render "devise/shared/links" %>
</footer>
