<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>

	<div class="form-grid">
		<%= input_email    f %>
		<%= input_password f, :password %>
	</div>

	<% if devise_mapping.rememberable? %>
		<div class="rememberable"><%= boolean_field f, :remember_me %></div>
	<% end %>

	<div class="grid-panel submit-field">
		<div class="panel-cell solo"><%= f.submit "Sign Up" %></div>
	</div>

<% end %>

<footer>
	<%= render "devise/shared/links" %>
</footer>
