<footer class="path-finder">
	<p><%= link_to 'Activities', activities_path %> | <%= link_to 'Tags', tags_path %> | <%= link_to 'Identities', identities_path %> | <%= link_to 'Qualities', qualities_path %> | <%= link_to 'Relationship Types', relators_path %></p>
	<p><%= link_to 'All Tags', all_tags_path %></p>
</footer>