<header class="tag-header show-header">
	<%= content_tag :h1, id: @tag.heading_id do %>
		<%= @tag.heading %>
	<% end %>
	<%= @tag.edit_form_div %>
	<%= @tag.edit_bar %>


	<div class="metadata">
		<%= metadata("First Use", @tag.created_at_tag) %>
	</div>
</header>
