<%= show_header(@concept) %>

<article>
	<nav>
		<%= link_to "All Works", concept_works_path(@concept) %>
	</nav>

	<section class="content">
		<h2>Works with <%= @concept.name.titleize %> Characters</h2>
		<%= render 'works/works', works: @concept.works %>
	</section>
</article>

<%= concept_footer %>
