<%= content_tag :table, id: table.klass, class: "tableized-results editable" do %>

	<caption><%= table.caption_heading %></caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Manage</th>
		</tr>
	</thead>

	<%= content_tag :tbody, id: table.klass.to_s + "-list" do %>
		<% table.each do |item| %>
			<tr>
				<td><%= link_to item.heading, item %></td>
				<td><%= item.edit_bar %></td>
			</tr>
		<% end %>
	<% end %>
<% end %>
