<% provide(:title, @relator.heading.html_safe) %>

<main class="itemized">
	<header>
		<%= model_toolkit @relator %>
		<h1><%= @relator.heading %></h1>
		<p>created : <%= record_time @relator.created_at %></p>
	</header>

	<article>
		<table>
			<% if @relator.connections.length > 0  && @relator.has_reverse? %>
				<thead>
					<tr><th><%= @relator.left_name.titleize %></th> <th><%= @relator.right_name.titleize %></th></tr>
				</thead>

				<% @relator.connections.each do |connection| %>
					<tr>
						<td><%= link_to connection.left.name, connection.left %></td>
						<td><%= link_to connection.right.name, connection.right %></td>
					</tr>
				<% end %>
			<% else %>
				<thead><tr><th><%= @relator.heading %></th></tr></thead>
				<% @relator.connections.each do |connection| %>
					<tr><td><%= link_to connection.left.name, connection.left %> & <%= link_to connection.right.name, connection.right %></td></tr>
				<% end %>
			<% end %>
		</table>
	</article>
	<%= render 'tags/shared/footer' %>
<main>
