<% provide(:title, @identity.name) %>

<main class="itemized">
  <header>
    <%= model_toolkit @identity %>
    <h1><%= @identity.name %></h1>
    <p>created : <%= record_time @identity.created_at %></p>
    <nav>
		<%= link_to "All Works", identity_works_path(@identity) %>,
		<%= link_to "All Characters", identity_characters_path(@identity) %>
    </nav>
  </header>

  <article>
    <h2>Statistics</h2>
    <table>
      <thead>
        <tr>
          <td></td>
          <th>Count</th>
        </tr>
      </thead>
      <tr>
        <th>Characters</th>
        <td><%= @identity.characters.length %></td>
      </tr>
      <tr>
        <th>Works</th>
        <td><%= @identity.works.length %></td>
      </tr>
    </table>

  </article>

  <%= render 'tags/shared/footer' %>
<main>
