<% provide(:title, @identity.name) %>
<main class="itemized">
	<header>
		<%= model_toolkit @identity %>
		<h1><%= @identity.heading %></h1>
		<p>created : <%= record_time @identity.created_at %></p>

		<nav>
			<%= link_to "All Works", identity_works_path(@identity) %>,
			<%= link_to "All Characters", identity_characters_path(@identity) %>
		</nav>
	</header>

	<article>
		<%= render 'tags/identities/about/stats' %>
		<%= render 'tags/identities/about/directed_links' %>
	</article>

<main>
<%= render 'tags/shared/footer' %>
