<% provide(:title, @tags.index_heading) %>

<header class="index-header">
	<h1><%= @tags.index_heading %></h1>
	<%= @tags.found_status %>
	<%= @tags.creation_path %>
	<%= @tags.inline_creation %>
</header>

<div class="index-body">
	<%= @tags.results %>
</div>

<%= render 'taggings/shared/footer' %>
