<% provide(:title, 'Tags') %>

<header>
	<h1>All Tags</h1>
</header>

<div class="index-body">
	<%= solo_cell do @tags.index_content end %>
	<%= grid_panel do %>
		<%= panel_cell "golden-minor" do @relators.index_content   end %>
		<%= panel_cell "golden-major" do @identities.index_content end %>
	<% end %>
</div>

<%= render 'taggings/shared/footer' %>
