<% provide(:title, 'Tags') %>

<header>
	<h1>All Tags</h1>
</header>

<div class="index-body">
	<%= index_panel "Tags", "solo" do @tags.list end %>
	<%= grid_panel do %>
		<%= index_panel "Relationship Tags", "golden-minor" do @relators.list          end %>
		<%= index_panel "Character Tags",    "golden-major" do @identities.definitions end %>
	<% end %>
</div>

<%= render 'taggings/shared/footer' %>
