<% provide(:title, @short.title) %>

<%= @short.breadcrumbs %>

<header class="work-header show-header">
	<h1><%= @short.title %></h1>

	<%= @short.metadata_block %>
	<%= @short.createables %>
	<%= @short.response_bar %>
	<%= @short.directory %>

	<%= subject_body do %>
		<%= @work.summary_block %>
	<% end %>
</header>

<article role="article">
	<h1 class="section-title">
		<%= @short.title %>
		<%= subtitle @short.byline.html_safe %>
	</h1>
	<div class="page-body" id="work-content">
		<%= markdown @short.content %>
	</div>
</article>

<footer>
	<%= subject_body do %>
		<%= render 'works/shared/tag_widget' %>
		<%= render 'comments/discussion' %>
	<% end %>

	<p class="path-finder">
		<%= link_to "All Short Stories", short_stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @work.skin_content %>
