<% provide(:title, @short.title) %>

<header>
	<h1>
		<%= @short.title %>
		<%= @short.byline.html_safe %>
	</h1>
	<%= @short.completion_status %>
	<%= @short.rated %>

	<div class="about">
		<%= @short.summarized %>
		<%= @short.all_tags_line %>
	</div>

	<%= @short.navigation_on_short %>
</header>

<article role="article">
	<header>
		<%= @short.edit_bar %>
		<%= @short.createables_links %>
	</header>
	
	<div class="page-body" id="work-content">
		<%= markdown @short.content %>
	</div>

	<footer><%= render 'works/shared/discussion' %></footer>
</article>

<footer class="path-finder">
	<p>
		<%= link_to "All Short Stories", short_stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
