<% provide(:title, @short.title) %>

<header class="work-header">
	<h1>
		<%= @short.title %>
		<%= subtitle @short.byline.html_safe %>
	</h1>
	<%= @short.completion_status %>

	<%= @short.metadata_block %>

	<%= @short.response_bar %>
	<%= @short.createables_links %>

	<%= @short.navigation_on_short %>

</header>

<div class="subject-body">
	<%= @work.summary_block %>
</div>

<article role="article">
	<div class="page-body" id="work-content"><%= markdown @short.content %></div>
</article>

<%= render 'comments/discussion' %>

<footer class="path-finder">
	<p>
		<%= link_to "All Short Stories", short_stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>

<%= @work.skin_content %>
