<% provide(:title, @short.title) %>

<article role="article">
	<header>
		<%= @short.edit_bar %>
		<%= @short.rated %>
		<h1><%= @short.title %></h1>

		<%= @short.uploaded_by.html_safe %>
		<p><%= @short.component_indices %></p>
	</header>

	<%= markdown @short.content %>

	<footer>
		<%= @short.edit_bar %>
		<%= render 'works/shared/discussion' %>
	</footer>
</article>

<footer>
	<p>
		<%= link_to "All Short Stories", short_stories_path %> |
		<%= link_to "All Fiction", fiction_index_path %> |
		<%= link_to "All Works", works_path %>
	</p>
</footer>
