<%= form_for(@identity) do |f| %>

	<fieldset>
		<%= form_field f.label(:type), f.text_field(:type, :placeholder => "Describe the Type of Identity") %>
		<%= form_field f.label(:name), f.text_field(:name, :placeholder => "Name the Identity") %>
	</fieldset>

	<%= show_link @describe_nest.heading, @describe_nest.klass %>
	<%= content_tag :fieldset, class: 'nested characters', id: @describe_nest.form_id do %>
		<%= nested_legend @describe_nest %>
		<%= nested_fields f, @describe_nest %>
		<p><%= link_to_add_association "+ Add Character", f, @describe_nest.klass, :partial=> @describe_nest.partial %></p>
	<% end %>

	<%= f.submit %>

<% end %>
