<table id="facets-table" class="editable sortable">
	<caption>Useable Facets</caption>

	<thead>
		<tr>
			<th colspan="2">Facet</th>
			<th>Number of Identities</th>
			<th>Number of Characters</th>
		</tr>
	</thead>

	<tbody class="management-body" id="facet-list">
		<% @facets.each do |facet| %>
			<tr id="<%= facet.tag_id %>">
				<th>
					<span class="facet-title">
						<%= link_to facet.heading, facet %>
					</span>
					<%= facet.edit_form_div %>
				</th>
				<td class="manager-editor" id="<%= facet.kit_id %>">
					<%= facet.edit_bar %>
				</td>

				<td data-label="Identities Count">
					<%= facet.identities.count %>
				</td>
				<td data-label="Character Count">
					<%= facet.characters.count %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
